/*
    bootstrap tuning
*/


ul.nav.navbar-nav.navbar-right li{
    margin-left: 4px;
}

.information-form-control {
    margin: 3px; /* Just to create a little space between bootstrap forms and labels/surrounding content */
}

/* 
    This is for bootstrap-editable, which creates popovers with form and buttons.
    To prevent popover content from wrapping the line, set max-width to none 
    and min-width to sensible value, large enough for input and 2 buttons to fit in.
*/

.popover {
    max-width: none;
    min-width: 250px;
}

/* For some reason, bootstrap alerts create margins at the bottom and don't create them at the top.*/

.alert {
    margin-top: 20px;
}

/*
    typeahead styling goes here; it is taken from:

    http://stackoverflow.com/questions/20198247/twitters-typeahead-js-suggestions-are-not-styled-have-no-border-transparent-b
*/

.tt-query,
.tt-hint {
    /*
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    */
}

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    max-height: 216px;
    overflow-y: auto;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: rgb(66, 139, 202);
    /* background-color: #0097cf; */
}

.tt-suggestion p {
    margin: 0;
}
