ul.actions-list {
    text-align: center;
    font-size: 0;
    &.justify {
        text-align: justify;
        &:after {
            content:'';
            display: inline-block;
            width: 100%;
        }
        li.action-item {
            margin-left: 0;
        }
    }
    &.left {
        text-align: left;
    }
    li.action-item {
        display: inline-block;
        vertical-align: middle;
        margin-left: 6px;
        &:first-child {
            margin-left: 0;
        }
        a {
            display: block;
            width: 16px;
            height: 14px;
            background-image: url('/img/spr_icons.png');
            background-repeat: no-repeat;
            @include transition(opacity 0.2s);
            &.action-fold {
                background-position: 2px -100px;
            }
            &.action-add-user {
                background-position: -50px -100px;
            }
            &.action-remove-user {
                background-position: -100px -100px;
            }
            &.action-pin {
                background-position: -149px -100px;
                width: 12px;
            }
            &.action-mail {
                background-position: -200px -100px;
            }
            &:hover {
                @include opacity(0.8);
            }
        }
    }
}

@media (max-width: 640px) {
    ul.actions-list {
        li.action-item {
            margin-left: 20px;
            a {
                display: block;
                width: 32px;
                height: 28px;
                background-image: url('/img/spr_icons.png');
                background-repeat: no-repeat;
                &.action-fold {
                    background-position: 4px -550px;
                }
                &.action-add-user {
                    background-position: -50px -550px;
                }
                &.action-remove-user {
                    background-position: -100px -550px;
                }
                &.action-pin {
                    background-position: -148px -550px;
                    width: 24px;
                }
                &.action-mail {
                    background-position: -200px -550px;
                }
                &:hover {
                    @include opacity(0.8);
                }
            }
        }
    }
}

