.tags-list {
    font-size: 0;
}
.tag-item {
    display: inline-block;
    @include myreg;
    @include font(#434343, 10px, 9px);
    padding: 5px 8px;
    margin-right: 6px;
    position: relative;
    border:1px solid #b6bfc9;
    @include border-radius(4px);
    margin-bottom: 5px;
    @include transition(color 0.2s, background-color 0.2s, border-color 0.2s);
    .tags-fine & {
        border:none;
        background: #dee2e7;
    }
    &.add-tag {
        background: #b6bfc9 url('/img/spr_icons.png') -446px -46px no-repeat;
        &:hover {
            border-color:$cBlue;
            background:$cBlue url('/img/spr_icons.png') -446px -46px no-repeat;;
        }
    }
    .editable & {
        background: #434343;
        color: #fff;
        border-color: #434343;
    }
    &:hover {
        background: #434343;
        color: #fff;
        border-color: #434343;
        cursor: pointer;
        .tag-remove, .tag-add {
            @include opacity(1);
            visibility: visible;
        }
    }
    .tag-remove, .tag-add {
        display: block;
        width: 16px;
        height: 16px;
        background: url('/img/spr_icons.png') -248px 3px no-repeat;
        position: absolute;
        right: -9px;
        top: -9px;
        @include transition(opacity 0.2s, visibility 0.2s);
        @include opacity(0);
        visibility: hidden;
//        &:hover {
//            background-position: -298px 3px;
//        }
        .editable & {
            @include opacity(1);
            visibility: visible;
        }
    }
    .tag-add {
        background: url('/img/spr_icons.png') -498px -147px no-repeat;
//        &:hover {
//            background-position: -548px -147px;
//        }

    }
}

@media (max-width: 640px) {
    .tag-item {
        @include font(#434343, 20px, 18px);
        padding: 10px 16px;
        margin-right: 12px;
        @include border-radius(4px);
        margin-bottom: 12px;
        .tag-remove, .tag-add {
            display: block;
            width: 32px;
            height: 32px;
            background: url('/img/spr_icons.png') -245px -345px no-repeat;
            right: -18px;
            top: -18px;
            @include transition(none);
            @include opacity(1);
            visibility: visible;
//            &:hover {
//                background-position: -295px -345px;
//            }
        }
        &.add-tag {
            background: #b6bfc9 url('/img/spr_icons.png') -442px -391px no-repeat;
            &:hover {
                border-color:$cBlue;
                background:$cBlue url('/img/spr_icons.png') -442px -391px no-repeat;;
            }
        }
        .tag-add {
            background: url('/img/spr_icons.png') -495px -395px no-repeat;
//            &:hover {
//                background-position: -545px -395px;
//            }
        }

    }
}