.utils-top-actions {
    margin-left: 20px;
    margin-right: 20px;
    @include pie-clearfix;
    .left-block {
        float: left;
        width: 230px;
        margin-bottom: 5px;
        .search-cnt {
            width: 226px;
            height: 30px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background: #dee2e7;
            position: relative;
            overflow: hidden;
        }
        input[type=text] {
            border:none;
            width:194px;
            display: inline-block;
            vertical-align: middle;
            background: #dee2e7;
            @include myreg;
            @include font(#3a3a3a, 13px, initial);
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding-left: 18px;
            &:focus {
                outline: none;
            }
            &::-webkit-input-placeholder {
                color: #b5bac0;
            }
            &:-moz-placeholder {
                color: #b5bac0;
            }
            &:-ms-input-placeholder {
                color: #b5bac0;
            }
        }
        input[type=submit] {
            border:none;
            width: 32px;
            height: 30px;
            background: url('/img/spr_icons.png') -343px 8px no-repeat;
            display: inline-block;
            vertical-align: middle;
            padding: 0;
        }

        .backlink-cnt {
            float: left;
            width: 50px;
            a {
                @include myreg;
                @include font($cBlue, 14px, 20px);
                text-decoration: none;
            }
        }
        .chat-persons {
            overflow: hidden;
        }
    }
    .right-block {
        float: right;
        width: 30px;
        text-align: right;
        .utils-settings {
            display: inline-block;
            width: 30px;
            height: 30px;
            i {
                margin-top: 5px;
            }
        }
    }
    
    .chat & {
        border-bottom: 1px solid #dee2e7;
        margin-bottom: 0px;
    }
}

.utils-inner-content {
    overflow: hidden;
    .remove-item {
        position: absolute;
        width: 14px;
        height: 14px;
        background: url('/img/spr_icons.png') -450px 0 no-repeat;
        @include opacity(0);
        visibility: hidden;
        @include transition(opacity 0.2s);
        &:hover {
            @include opacity(0.8);
        }
    }
    .make-pinned {
        position: absolute;
        width: 9px;
        height: 15px;
        background: url('/img/spr_icons.png') -500px 0 no-repeat;
        @include transition(background-position 0.2s);
        top: 13px;
        right: 19px;
        &:hover {
            background-position: -550px 0;
        }
    }
    .remove {
        .remove-item {
            visibility: visible;
            @include opacity(1);
            &:hover {
                @include opacity(0.8);
            }
        }
    }
}

@media (max-width: 640px) {
    .utils-top-actions {
        margin-left: 40px;
        margin-right: 40px;
        @include pie-clearfix;
        .left-block {
            float: left;
            width: 452px;
            margin-bottom: 40px;
            .search-cnt {
                width: 452px;
                height: 60px;
            }
            input[type=text] {
                width:388px;
                @include font(#3a3a3a, 26px, initial);
                padding-left: 36px;
            }
            input[type=submit] {
                border:none;
                width: 64px;
                height: 60px;
                background: url('/img/spr_icons.png') -341px -333px no-repeat;
            }

            .backlink-cnt {
                width: 100px;
                a {
                    @include font($cBlue, 28px, 40px);
                }
            }
        }
        .right-block {
            width: 40px;
            .utils-settings {
                width: 40px;
                height: 40px;
                i {
                    margin-top: 10px;
                }
            }
        }

        .chat & {
            border-bottom: 2px solid #dee2e7;
            margin-bottom: 30px;
        }
    }

    .utils-inner-content {
        overflow: hidden;
        .remove-item {
            width: 28px;
            height: 28px;
            background: url('/img/spr_icons.png') -450px -350px no-repeat;
        }

        .make-pinned {
            width: 18px;
            height: 30px;
            background: url('/img/spr_icons.png') -500px -350px no-repeat;
            top: 26px;
            right: 38px;
            &:hover {
                background-position: -550px -350px;
            }
        }
    }
}

