.toolly-gallery {
  position: relative;
}
.toolly-gallery-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.toolly-gallery-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}
.toolly-gallery-inner > .item > img,
.toolly-gallery-inner > .item > a > img {
  line-height: 1;
}
.toolly-gallery-inner > .active,
.toolly-gallery-inner > .next,
.toolly-gallery-inner > .prev {
  display: block;
}
.toolly-gallery-inner > .active {
  left: 0;
}
.toolly-gallery-inner > .next,
.toolly-gallery-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.toolly-gallery-inner > .next {
  left: 100%;
}
.toolly-gallery-inner > .prev {
  left: -100%;
}
.toolly-gallery-inner > .next.left,
.toolly-gallery-inner > .prev.right {
  left: 0;
}
.toolly-gallery-inner > .active.left {
  left: -100%;
}
.toolly-gallery-inner > .active.right {
  left: 100%;
}
.toolly-gallery-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .5;
}
.toolly-gallery-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.toolly-gallery-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.toolly-gallery-control:hover,
.toolly-gallery-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.toolly-gallery-control .icon-prev,
.toolly-gallery-control .icon-next,
.toolly-gallery-control .glyphicon-chevron-left,
.toolly-gallery-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.toolly-gallery-control .icon-prev,
.toolly-gallery-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.toolly-gallery-control .icon-next,
.toolly-gallery-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.toolly-gallery-control .icon-prev,
.toolly-gallery-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  font-family: serif;
}
.toolly-gallery-control .icon-prev:before {
  content: '\2039';
}
.toolly-gallery-control .icon-next:before {
  content: '\203a';
}
.toolly-gallery-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.toolly-gallery-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .toolly-gallery-control .glyphicon-chevron-left,
  .toolly-gallery-control .glyphicon-chevron-right,
  .toolly-gallery-control .icon-prev,
  .toolly-gallery-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
  .toolly-gallery-control .glyphicon-chevron-left,
  .toolly-gallery-control .icon-prev {
    margin-left: -15px;
  }
  .toolly-gallery-control .glyphicon-chevron-right,
  .toolly-gallery-control .icon-next {
    margin-right: -15px;
  }
  .toolly-gallery-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .toolly-gallery-indicators {
    bottom: 20px;
  }
}