            <div class="top-profile-dropdown mobile-show">
                <div class="top-profile-info">
                    <p class="top-profile-name">Артур Семенов</p>
                    <p class="top-profile-meta">Спасибо 200</p>
                </div>
                <ul class="top-profile-menu">
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Портфолио</a></li>
                </ul>
                <a class="top-profile-bar-link"><i class="icon icon-settings"></i>Настройки</a>
                <a class="top-profile-bar-link"><i class="icon icon-logout"></i>Выйти</a>
            </div>