    <div id="auth-popup" class="fbx-content">
        <div class="auth-form-cnt">
            <div class="non-field-errors">            
                <p class="form-header">Войти</p>
                {% if auth_form.non_field_errors %}            
                <ul class="errors-list filled">
                    {% for error in auth_form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <form method="post" action="./">
                {% csrf_token %}
                {% if auth_form.username.errors %}
                <fieldset class="error">{{ auth_form.username }}
                    <ul class="errors-list filled">
                        {% for error in auth_form.username.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
                {% else %}
                <fieldset>{{ auth_form.username }}</fieldset>
                {% endif %}
                {% if auth_form.password.errors %}
                <fieldset class="error">{{ auth_form.password }}<a class="pass-eye js-show-pass" href="#"></a>
                    <ul class="errors-list filled">
                        {% for error in auth_form.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
                {% else %}
                <fieldset>{{ auth_form.password }}<a class="pass-eye js-show-pass" href="#"></a></fieldset>
                {% endif %}
                <fieldset><input name="Login" class="btn-big" type="submit" value="Войти"/><a class="forgot-pass-link js-register-popup" href="#forgot-pass-popup">Забыли пароль?</a></fieldset>
            </form>
        </div>
        <div class="social-auth-cnt">
            <div class="separator"><span>или</span></div>
            <div class="social-buttons-list">
                <a class="btn btn-big btn-social fb" href="#">Facebook</a><a class="btn btn-big btn-social vk" href="#">Вконтакте</a><a class="btn btn-big btn-social gp" href="#">Google</a><a class="btn btn-big btn-social tw" href="{% url 'twitter_oauth_submit_button' %}">Twitter</a>
            </div>
        </div>
        <div class="auth-register-link">
            <a href="#register-popup" class="js-register-popup">Еще не зарегистрированы на Knackit.com?</a>
        </div>
    </div>
