                <a class="js-sidebar-trigger sidebar-trigger" href="#"><i></i></a>
                <div class="top-profile js-profile-dropdown">
                    <div class="top-profile-avatar-cnt">
                        <img src="{% url 'avatar' user.pagename %}" alt="avatar"/>
                    </div>
                    <div class="top-profile-info mobile-hide">
                        <p class="top-profile-name">{{ user.name }}</p>
                        <p class="top-profile-meta"></p>
                    </div>
                    <div class="top-profile-dropdown mobile-hide">
                        <ul class="top-profile-menu">
                            <li><a href="{% url 'profile' user.pagename %}#services_view">Услуги</a></li>
                            <li><a href="{% url 'profile' user.pagename %}#about_view">О нас</a></li>
                            <li><a href="{% url 'profile' user.pagename %}#portfolio_view">Портфолио</a></li>
                        </ul>
                        <a class="top-profile-bar-link" href="{% url 'profile' user.pagename %}#settings_view"><i class="icon icon-settings"></i>Настройки</a>
                        <a class="top-profile-bar-link knackit-logout"><i class="icon icon-logout"></i>Выйти</a>
                    </div>
                </div>