    <div id="change-pass-popup" class="fbx-content">
        <div class="change-pass-form-cnt common-form-cnt">
            <p class="form-header">Изменить пароль</p>

            <form action="">
                <fieldset><input type="text" name="change-newpass" id="change-newpass" placeholder="Новый пароль"/></fieldset>
                <fieldset><input type="text" name="change-newpass2" id="change-newpass2" placeholder="Повторите ввод нового пароля"/></fieldset>
                <fieldset class="change-submit-cnt">
                    <input type="submit" value="Сохранить"/>
                </fieldset>
            </form>
        </div>
    </div>