<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- This is a stub for other pages (index, search, profile)-->

<head>
	{% include "head.html" %}
</head>
<body>
	<script>
        global_context = {{ js_context|safe }};
    </script>

	<div id="root-wrapper">
    	<div id="site-wrapper">
        	<div class="js-page" data-page="<?=$page?>"></div>    		    		
    		{% include "header.html" %}    		

			<div class="full-sized-site-inner page404-inner">
			    <div class="page404-content">
			        <div class="page404-img">
			            <!-- TODO image here  <img src="/img/img_404.jpg" alt="page404"/>-->
			        </div>
			        <div class="text-content page404-text">
			            <p class="header">E-mail отправлен</p>
			            <p>На указанный Вами адрес электронной почты отправлено письмо с гиперссылкой. <br/>
			            </p>
			            <p>Вы cможете изменить Ваш пароль и адрес электронной почты во вкладке настроек на <a href="{% url 'profile' pagename %}">странице личного кабинета</a>.
			            </p>
			        </div>
			    </div>
			</div>

      	
		</div> <!-- #site-wrapper -->
		<!--<div id="footer-struggle">

		</div>-->
	</div> <!-- #root-wrapper -->
	{% include "footer.html" %}
</body>