<div id="footer">
	<div class="footer-nav-cnt">
		<ul class="footer-nav">
			<li class="footer-nav-item"><a href="#">О нас</a></li>
			<li class="footer-nav-item"><a href="#">Помощь</a></li>
			<li class="footer-nav-item"><a href="#">Условия использования</a></li>
		</ul>
	</div>
	<div class="footer-socials">
		<div class="copyrights">© Knackit 2015 – All Rights Reserved</div>
		<ul class="footer-socials-list">
			<li><a href="#" class="social gp"></a></li>
			<li><a href="#" class="social tw"></a></li>
			<li><a href="#" class="social fb"></a></li>
			<li><a href="#" class="social vk"></a></li>
		</ul>
	</div>
	<div class="footer-lang-panel">
		<p><a>RU</a> / <a href="#">EN</a> / <a href="#">LT</a></p>
	</div>
	{% if not user.is_authenticated %}
	{% include "register_popup.html" %}
	{% include "auth_popup.html" %}
	{% include "forgot_pass_popup.html" %}
	{% endif %}
</div>