    <div id="forgot-pass-popup" class="fbx-content">
        <div class="forgot-pass-form-cnt common-form-cnt">
            <p class="form-header">Получить e-mail со ссылкой для входа без пароля</p>
            <div class="non-field-errors">
                {% if password_recovery_form.non_field_errors %}
                <ul class="errors-list filled">
                    {% for error in password_recovery_form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <form method="post" action="{% url 'recover_password' %}">
                <label for="forgot-pass-email">E-mail, указанный при регистраци</label>
                {% if password_recovery_form.username.errors %}
                <fieldset class="error">{{ password_recovery_form.username }}
                    <ul class="errors-list filled">
                        {% for error in password_recovery_form.username.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
                {% else %}
                <fieldset>{{ password_recovery_form.username }}</fieldset>
                {% endif %}
                <fieldset><input class="btn-big" type="submit" value="Отправить"/></fieldset>
            </form>
        </div>
    </div>
