        <header class="global-header">
            <a class="logo" href="/"></a>
            <div class="header-actions">
            {% if user.is_authenticated %}
            {% include "authenticated_header_actions.html" %}
            {% else %}
            {% include "unauthenticated_header_buttons.html" %}
            {% endif %}            
            </div>
            <a class="header-search-trigger js-search-panel-trigger mobile-show" href="#"></a>
            <div class="header-search-cnt">
                <form id="header-search-form" action="" >
                    <input class="header-search js-header-search" type="text" name="header-search" placeholder="Я ищу..."/>
                    <div class="city-select-cnt">
                        <input class="city-select" type="text" name="city-select" id="city-select"/>
                        <i class="city-select-locate-button"></i>
                    </div>
                    <input type="submit" value="" class="mobile-hide"/>
                    <input type="submit" value="Поиск" class="mobile-show"/>
                </form>
            </div>
            <!-- Mustache TEMPLATES for profile -->
            {% verbatim %}
            <script type="text/html" id="cont-section-tmpl">
                    <li class="cont-type-item phone">
                        <i class="cont-type-status"></i>
                    </li>
                    <li class="cont-type-item skype">

                        <i class="cont-type-status"></i>
                    </li>
                    <li class="cont-type-item vkontakte">

                        <i class="cont-type-status"></i>
                    </li>
                    <li class="cont-type-item mail">

                        <i class="cont-type-status" ></i>
                    </li>
                    <li class="cont-type-item facebook">

                        <i class="cont-type-status"></i>
                    </li>
                    <li class="cont-type-item linkedin">
                        <i class="cont-type-status"></i>
                    </li>
                    <li class="cont-type-item twitter">

                        <i class="cont-type-status"></i>
                    </li>
            </script>
            <script type="text/html" id="cont-static-tmpl">
                <p><span class="profile-contact-name"> {{content}}</span>
                {{#edit}}{{^placeholder}}<span class="profile-remove"></span>{{/placeholder}}{{/edit}}</p>
            </script>
            <script type="text/html" id="cont-input-tmpl">
                <input type="text" class="form-control"  value="{{content}}" name="account-phone" placeholder="{{suggest}}">
                    <span class="input-group-btn">
                        <a class="btn btn-icon icon-ok confirm-edit" type="button"></a>
                    </span>
                    <span class="input-group-btn">
                        <a class="btn btn-icon icon-cancel cancel-edit" type="button"></a>
                    </span>
            </script>
            <script type="text/html" id="address-tmpl">
                <p><span class="address-line">{{address}}</span></p>
            </script>
            <script type="text/html" id="address-edit-tmpl">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Укажите адрес" value="{{address}}">
                    <span class="input-group-btn">
                            <a class="btn btn-icon icon-ok confirm-edit" type="button"></a>
                    </span>
                    <span class="input-group-btn">
                        <a class="btn btn-icon icon-cancel cancel-edit" type="button"></a>
                    </span>
                </div>
            </script>
			<script type="text/html" id="order-service-tmpl">
				<div class="popup-cnt search-popup" id="order_service_popup_{{user_id}}_{{service_id}}">
					<form class="service-request-form" action="">
					<div class="row">
						<input type="hidden" name="provider_id" value="{{user_id}}"/>
						<input type="hidden" name="service_id" value="{{service_id}}"/>
						<div class="logo-cnt">
						    <div class="img-cnt">
						        <img src="/img/{{pagename}}/services/{{service_id}}/image/" alt="logo"/>
						    </div>
						</div>
						<div class="contact-card">
						    <div class="contact-avatar-cnt">
						        <div class="img-cnt"><img src="/img/{{pagename}}/avatar/" alt="avatar"/></div>
						    </div>
						    <div class="contact-inner">
						        <p class="contact-name"><a href="/profile/{{pagename}}/">{{name}}</a></p>
						        <div class="person-status person-offline">Offline</div>
						    </div>
						</div>
						<div class="service-date-cnt mobile-show">
						    <label for="service-date">Желаемая дата</label>
						    <input type="date" class="service-date" name="service_date_mob" id="service-date"/>
						</div>
						 <div class="service-name-cnt">
						    <label>Услуга</label>
						    <p class="js-selected-service">{{service.name}}</p>
						</div>
						<div class="service-date-cnt mobile-hide">
						    <label for="service_date">Желаемая дата</label>
						    <input type="text" class="date-input service-date" name="service_date" id="service-date"/>
						</div>
						<div class="service-price-cnt">
						    <label for="bullets">Выбрать из прайса</label>
						    <select name="bullets" class="multiple-select service-price" multiple>
						        <option value="---">Все</option>
						        {{#service}}
						        {{#points}}
						            <option value="{{title}}">{{title}}</option>
						        {{/points}}
						        {{/service}}
						    </select>
						</div>
					</div>
					<div class="service-comment-cnt">
						<textarea name="comment" id="service-comment" placeholder="Текст комментария..."></textarea>
						<div class="smile-trigger js-smile-trigger">
						    <div class="smiles-panel">
						        <ul class="smiles-list">
						            <li class="js-smile smile-item"><i class="icon-emo-happy"></i></li>
						            <li class="js-smile smile-item"><i class="icon-emo-wink"></i></li>
						            <li class="js-smile smile-item"><i class="icon-emo-wink2"></i></li>
						            <li class="js-smile smile-item"><i class="icon-emo-unhappy"></i></li>
						            <li class="js-smile smile-item"><i class="icon-emo-sleep"></i></li>
						            <li class="js-smile smile-item"><i class="icon-emo-thumbsup"></i></li>
						            <li class="js-smile smile-item"><i class="icon-emo-devil"></i></li>
						            <li class="js-smile smile-item"><i class="icon-emo-surprised"></i></li>
						            <li class="js-smile smile-item"><i class="icon-emo-tongue"></i></li>
						            <li class="js-smile smile-item"><i class="icon-emo-coffee"></i></li>
						            <li class="js-smile smile-item"><i class="icon-emo-sunglasses"></i></li>
						            <li class="js-smile smile-item"><i class="icon-emo-displeased"></i></li>
						            <li class="js-smile smile-item"><i class="icon-emo-beer"></i></li>
						            <li class="js-smile smile-item"><i class="icon-emo-grin"></i></li>
						            <li class="js-smile smile-item"><i class="icon-emo-angry"></i></li>
						            <li class="js-smile smile-item"><i class="icon-emo-saint"></i></li>
						            <li class="js-smile smile-item"><i class="icon-emo-cry"></i></li>
						            <li class="js-smile smile-item"><i class="icon-emo-shoot"></i></li>
						            <li class="js-smile smile-item"><i class="icon-emo-squint"></i></li>
						            <li class="js-smile smile-item"><i class="icon-emo-laugh"></i></li>
						        </ul>
						    </div>
						</div>
					</div>
					<div class="service-submit-cnt">
						<input type="submit" value="Заказать услугу"/>
						<label class="file-label">Прикрепить файл<input type="file" name="service-file" id="service-file"/></label>
					</div>
					</form>
				</div>
			</script>
            {% endverbatim %}
            {% if user.is_authenticated %}
            {% include "authenticated_header_mobile_dropdown.html" %}
            {% include "sidebar.html" %}
            {% endif %}
        </header>
        <div class="overlay"></div>        
