    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Knackit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=640">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/plugins/jquery.raty.css">
    <link rel="stylesheet" href="/css/plugins/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="/css/plugins/chosen.min.css">
    <link rel="stylesheet" href="/css/plugins/jquery.fancybox3.css"/>
    <link rel="stylesheet" href="/css/plugins/jquery.datetimepicker.css"/>
    <link rel="stylesheet" href="/css/main.css">
    <!--[if lt IE 9]>
    <script>
        document.createElement('main');
    </script>
    <script src="/js/libs/es5-shim.min.js"></script>
    <![endif]-->
    <script src="/js/libs/require.js" data-main="/js/main.js"></script>