<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Knackit - Main</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=640">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">    
    <link rel="stylesheet" href="/css/plugins/chosen.min.css">
    <link rel="stylesheet" href="/css/plugins/jquery.fancybox3.css"/>
    <link rel="stylesheet" href="/css/main.css">
    <!--[if lt IE 9]>
    <script>
        document.createElement('main');
    </script>
    <script src="/js/libs/es5-shim.min.js"></script>
    <![endif]-->
    <script src="/js/libs/require.js" data-main="/js/main.js"></script>

</head>
<body>
	<script>
        global_context = {{ js_context|safe }};
    </script>

	<div id="root-wrapper" class="index-page">
	    <div id="site-wrapper">
	        <div class="index-slider-cnt">
	            <ul class="index-slider">
	                <li class="index-slide" style="background-image: url('/img/img_index1.jpg');"></li>
	                <li class="index-slide" style="background-image: url('/img/img_index2.jpg');"></li>
	                <li class="index-slide" style="background-image: url('/img/img_index3.jpg');"></li>
	                <li class="index-slide" style="background-image: url('/img/img_index4.jpg');"></li>
	                <li class="index-slide" style="background-image: url('/img/img_index5.jpg');"></li>
	            </ul>
	        </div>
	        <div class="js-page" data-page="index"></div>
	        <header class="global-header index search-opened">
	            <a class="logo" href="/"></a>
	            <div class="header-actions">
	                <a class="login-btn js-auth-popup" href="#auth-popup">Войти</a>
	            </div>
	            <div class="header-search-cnt">
	                <form id="header-search-form" action="">
	                    <input class="header-search js-header-search" type="text" name="header-search" placeholder="Я ищу..."/>
	                    <div class="city-select-cnt">
	                        <input class="city-select" type="text" name="city-select" id="city-select"/>
	                        <i></i>
	                    </div>
	                    <input type="submit" value="" class="mobile-hide"/>
	                    <input type="submit" value="Поиск" class="mobile-show"/>
	                </form>
	            </div>
	        </header>

			<div class="full-sized-site-inner">
			    <div class="welcome-block">
			        <h1 class="header">Добро пожаловать в Knackit</h1>
			        <p>Ежеминутно тысячи людей по всему миру ищут возможность <br/>
			            мгновенного сотрудничества</p>
			        <p>Knackit помогает найти актуальные предложения поблизости</p>
			        <p>Создайте страницу - зарабатывайте, оказывая услуги</p>
			        <a class="btn register-btn js-register-popup" href="#register-popup">Регистрация</a>
			    </div>
			</div>

		</div> <!-- #site-wrapper -->
		<div id="footer-struggle">

		</div>
	</div> <!-- #root-wrapper -->
	{% include "footer.html" %}
</body>