
<!-- TEMPLATES -->
<!-- Header, 'edit' and 'add' buttons-->
{% verbatim %}
<script type="text/html" id="about-header">
    <p class="section-header">{{header}}</p>
</script>

<script type="text/html" id="header-edit-btn">
    <a class="header-edit-link edit-block" href="#">Редактировать</a>
</script>

<script type="text/html" id="about-exp-add-item">   
    <div class="add-more-cnt about-exp-add-item" style="clear:both">
        <a class="add-more" href="#">Добавить квалификацию</a>
    </div>
</script>

<script type="text/html" id="about-edu-add-item">   
    <div class="add-more-cnt about-edu-add-item" style="clear:both">
        <a class="add-more" href="#">Добавить курсы</a>
    </div>
</script>

<script type="text/html" id="about-lang-add-item">       
    <div class="add-more-cnt about-lang-add-item" style="clear:both">
        <a class="add-more" href="#">Добавить язык</a>
    </div>
</script>

<!-- Bio section-->

<script type="text/html" id="about-bio-static-tmpl">
    <p class="section-header">{{header}}</p>
    <div class="common-form-cnt">
        <div class="fieldset">   
            <p>{{bio}}</p>
        </div>
    </div>    
</script>
<script type="text/html" id="about-bio-edit-tmpl">
    <p class="section-header">{{header}}</p>
    <div class="common-form-cnt">
        <form action="">
            <fieldset>
                <textarea name="bio-common" id="bio-common">{{bio}}</textarea>
            </fieldset>
            <fieldset class="profile-submit-cnt">
                <input class="bio-submit" type="submit" value="Сохранить"/><a class="btn btn-secondary bio-cancel" href="#">Отменить</a>
            </fieldset>
        </form>
    </div>
</script>

<!-- Experience section-->
<script type="text/html" id="about-exp-static-tmpl">
    <p class="section-header" style="clear:both">{{header}}&nbsp;</p>        
    <div class="common-form-cnt" id={{id}} style="overflow:auto">
        <div class="col12">
            <div class="fieldset">
                <p class="label">Род деятельности</p>

                <p>{{kind}}</p>
            </div>
            <div class="fieldset">
                <p class="label">Период работы</p>

                <p>C {{from}} по {{till}}</p>
            </div>
        </div>
        <div class="col12">
            <div class="fieldset">
                <p class="label">Комментарий</p>

                <p>{{comment}}</p>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="about-exp-edit-tmpl">
    <p class="section-header" style="clear:both">{{header}}&nbsp;</p>
    <div class="common-form-cnt" id={{id}}>
        <form action="">
            <div class="col12">
                <fieldset>
                    <label for="bio-qual1">Род деятельности</label>
                    <input type="text" name="bio-qual" id="bio-qual" value="{{kind}}"/>
                </fieldset>
                <fieldset>
                    <label for="bio-period1">Период работы</label>

                    <div class="period-cnt">
                        <span>с</span>
                        {{#isMobile}}
                        <input class="date-input mobile-show" type="date" name="bio-date-from" id="bio-date-from"/>
                        {{/isMobile}}
                        {{^isMobile}}
                        <input class="date-input date-from mobile-hide" type="text" name="bio-date-from" id="bio-date-from"/>
                        {{/isMobile}}
                        <span>по</span>
                        {{#isMobile}}
                        <input class="date-input mobile-show" type="date" name="bio-date-to" id="bio-date-to"/>
                        {{/isMobile}}
                        {{^isMobile}}
                        <input class="date-input date-to mobile-hide" type="text" name="bio-date-to" id="bio-date-to"/>
                        {{/isMobile}}
                    </div>
                </fieldset>
            </div>
            <div class="col12">
                <fieldset>
                    <label for="bio-qual-comment">Комментарий</label>
                    <textarea name="bio-qual-comment" id="bio-qual-comment">{{comment}}</textarea>
                </fieldset>
            </div>
            <fieldset class="profile-submit-cnt">
                <input class="btn-submit" type="submit" value="Сохранить"/><a class="btn btn-secondary btn-cancel" href="#">Отменить</a><a class="btn btn-delete" href="#">Удалить</a>
            </fieldset>
        </form>
    </div>
</script>
<!-- Education section-->
<script type="text/html" id="about-edu-static-tmpl">
    <p class="section-header" style="clear:both">{{header}}&nbsp;</p>
    <div class="common-form-cnt">
        <div class="col12">
            <div class="fieldset">
                <p class="label">Организация, выдавшая диплом</p>

                <p>{{org}}</p>
            </div>
            <div class="fieldset">
                <p class="label">Период обучения</p>

                <p>C {{from}} по {{till}}</p>
            </div>

            
            <!-- <div class="text-content">
                <div class="files-list">
                    <a href="file.pdf">Скан диплома <span>PDF, 2 Mb</span></a>
                </div>
            </div> -->
        </div>
        <div class="col12">
            <div class="fieldset">
                <p class="label">Комментарий</p>

                <p>{{comment}}</p>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="about-edu-edit-tmpl">
    <p class="section-header" style="clear:both">{{header}}&nbsp;</p>
    <div class="common-form-cnt">
        <form action="">
            <div class="col12">
                <fieldset>
                    <label for="bio-ed-org">Организация, выдавшая диплом</label>
                    <input type="text" name="bio-ed-org" id="bio-ed-org" value="{{org}}"/>
                </fieldset>
                <fieldset>
                    <label for="bio-ed-period">Период обучения</label>

                    <div class="period-cnt">
                        <span>с</span>     
                        {{#isMobile}}                       
                        <input class="date-input mobile-show" type="date" name="bio-ed-from" id="bio-ed-from"/>
                        {{/isMobile}}
                        {{^isMobile}}
                        <input class="date-input date-from mobile-hide" type="text" name="bio-ed-from" id="bio-ed-from"/>
                        {{/isMobile}}
                        <span>по</span>  
                        {{#isMobile}}                          
                        <input class="date-input mobile-show" type="date" name="bio-ed-to" id="bio-ed-to"/>
                        {{/isMobile}}
                        {{^isMobile}}
                        <input class="date-input date-to mobile-hide" type="text" name="bio-ed-to" id="bio-ed-to"/>
                        {{/isMobile}}
                    </div>
                </fieldset>
                <!--<fieldset>
                    <label class="file-label">Прикрепить файл<input type="file" name="bio-ed-file" id="bio-ed-file"/><span class="filename">file_12_22_14.png (12kb)</span></label>
                </fieldset>-->
            </div>
            <div class="col12">
                <fieldset>
                    <label for="bio-ed-comment">Комментарий</label>
                    <textarea name="bio-ed-comment" id="bio-ed-comment">{{comment}}</textarea>
                </fieldset>
            </div>
            <fieldset class="profile-submit-cnt">
                <input type="submit" class="btn-submit" value="Сохранить"/><a class="btn btn-secondary btn-cancel" href="#">Отменить</a><a class="btn btn-delete" href="#">Удалить</a>
            </fieldset>
        </form>
    </div>
</script>
<!-- Language section-->
<script type="text/html" id="about-lang-static-tmpl">
    <p class="section-header">{{header}}&nbsp;</p>
    <div class="common-form-cnt">
        <div class="col12">
            <p class="label">Иностранный язык</p>
            <p>{{name}}</p>
        </div>
        <div class="col12">
            <p class="label">Уровень владения</p>
            <p>{{localized}}</p>
        </div>
    </div>
</script>
<script type="text/html" id="about-lang-edit-tmpl">
    <p class="section-header">{{header}}&nbsp;</p>
    <div class="common-form-cnt">
        <form action="">
            <div class="col12">
                <fieldset>
                    <label for="bio-lang">Иностранный язык</label>
                    <input type="text" name="bio-lang" id="bio-lang" value="{{name}}" />
                </fieldset>
            </div>
            <div class="col12">
                <fieldset>
                    <label for="bio-lang-level">Уровень владения</label>
                    <select name="bio-lang-level" id="bio-lang-level" class="single-select" value="{{skill}}" >
                        <option value="basic">Начальный уровень</option>
                        <option value="intermediate">Средний уровень</option>
                        <option value="advanced">Продвинутый уровень</option>
                    </select>
                </fieldset>
            </div>
            <fieldset class="profile-submit-cnt">
                <input type="submit" class="btn-submit" value="Сохранить"/><a class="btn btn-secondary btn-cancel" href="#">Отменить</a><a class="btn btn-delete" href="#">Удалить</a>
            </fieldset>
        </form>
    </div>
</script>
{% endverbatim %}

<!-- Body -->
<div class="inner-section about-bio-view">
</div>

<div class="inner-section about-exp-view">
    <p class="section-header">Квалификация</p>
</div>

<div class="inner-section about-edu-view">
    <p class="section-header">Образование/курсы</p>
</div>

<div class="inner-section about-lang-view">
    <p class="section-header">Язык</p>
</div>
