            <div class="inner-section">
                <p class="section-header">Контакты</p>
                <ul class="profile-cont-types-list">
                    
                </ul>
            </div>
<div class="inner-section no-padding knackit-address">
    <div class="profile-address-cnt">
        <p class="section-header">Адрес</p>

        <div class="profile-address">

<!--            <p>-->
<!--                <a class="profile-change-link js-profile-change-link" href="#">Изменить</a>|<a class="profile-change-link js-profile-remove-link remove-link" href="#">Удалить</a>-->
<!--            </p>-->
        </div>
    </div>
    <div class="profile-address-map" data-lat="55.749266" data-long="37.568893"></div>
</div>
<div class = "services-view">
</div>
<div class="inner-section add-section"></div>