 <!-- TEMPLATES -->
 <!-- password popup -->

 <script type="text/html" id="fancybox-pass-popup">
     <div id="change-pass-popup" class="fbx-content" style="display: block;">
        <div class="change-pass-form-cnt common-form-cnt">
            <p class="form-header">Изменить пароль</p>

            {% if password_change_form.non_field_errors %}
            <div class="non-field-errors">
                <ul class="errors-list filled">
                    {% for error in password_change_form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}            

            <form method="post" action=".">
                {% csrf_token %}
                {% if password_change_form.old_password.errors %}
                <fieldset class="error">
                    {{ password_change_form.old_password }}
                    <a class="pass-eye js-show-pass" href="#"></a>
                    <ul class="errors-list filled">
                        {% for error in password_change_form.old_password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
                {% else %}
                <fieldset>
                    {{ password_change_form.old_password }}                
                    <a class="pass-eye js-show-pass" href="#"></a>
                </fieldset>
                {% endif %}

                {% if password_change_form.new_password1.errors %}
                <fieldset class="error">
                    {{ password_change_form.new_password1 }}
                    <a class="pass-eye js-show-pass" href="#"></a>
                    <ul class="errors-list filled">
                        {% for error in password_change_form.new_password1.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
                {% else %}
                <fieldset>
                    {{ password_change_form.new_password1 }}
                    <a class="pass-eye js-show-pass" href="#"></a>
                </fieldset>
                {% endif %}

                {% if password_change_form.new_password2.errors %}
                <fieldset class="error">
                    {{ password_change_form.new_password2 }}
                    <a class="pass-eye js-show-pass" href="#"></a>
                    <ul class="errors-list filled">
                        {% for error in password_change_form.new_password2.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
                {% else %}
                <fieldset>
                    {{ password_change_form.new_password2 }}
                    <a class="pass-eye js-show-pass" href="#"></a>
                </fieldset>
                {% endif %}

                <fieldset class="change-submit-cnt">
                    <input type="submit" value="Сохранить">
                </fieldset>
            </form>
        </div>
    </div>
</script>
 <!-- settings view -->

 <div class="inner-section">
    <div class="settings-section common-form-cnt">
        
        <div class="profile-subsection">
            <div class="row">
                <div class="col12">
                    <form method="POST" action="/change_name/">
                        {% csrf_token %}
                        <label>Личная информация</label>
                        <div class="input-group">
                            <input type="text" name="account-firstname" id="account-firstname" placeholder="Ваше имя">
                                <span class="input-group-btn">
                                    <button class="btn" type="submit">Сохранить</button>
                                </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>  
        <div class="profile-subsection">
            <div class="row">
                <div class="col12">
                    <form method="POST" action="/change_pagename/">
                        {% csrf_token %}                        
                        <fieldset>
                            <label for="account-page-name">Имя страницы</label>
                            <div class="input-group with-helper">
                                <input type="text" name="pagename" class="form-control" placeholder="Имя страницы..." value="{{ pagename }}">
                                    <span class="input-group-btn">
                                        <button class="btn" type="submit">Сохранить</button>
                                    </span>
                                <span class="helper">.knackit.com</span>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="profile-subsection">
            <div class="row">
                <div class="col12">
                    <form method="POST" action="/change_username/">
                        {% csrf_token %}                        
                        <fieldset>
                            <label for="account-email">E-mail</label>
                            <div class="input-group">
                                <input type="text" name="username" class="form-control" name="account-email" id="account-email" placeholder="Введите электронный почтовый адрес">
                                    <span class="input-group-btn">
                                        <button class="btn" type="submit">Сохранить</button>
                                    </span>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    
        <div class="profile-subsection">
            <div class="fieldset">
                <p class="label">Пароль</p>
                <p><a href="#change-pass-popup" class="change-pass-link js-changepass-popup">Изменить пароль</a></p>
            </div>
        </div>

    </div>
</div>