<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	{% include "head.html" %}
</head>
<body>
	<script>
        global_context = {{ js_context|safe }};
    </script>
    {% if is_owner %}
    {% verbatim %}
    <script type="text/html" id="avatar-popup-tmpl">
	    <div id="avatar-popup" class="popup-cnt action-edit-popup common-form-cnt">
	        <p class="form-header">Редактирование аватара</p>
	        <form class="knackit-avatar-image-upload {{id}}" action="">
	            <div class="image-edit-cnt" style="position:relative">
	                <img src="/img/{{pagename}}/avatar/?ts={{bust}}" alt="dummy"/>
	            </div>
	            <div class="inner-section add-section">
	                <!-- Label tag around input is a hack used to make invisible input respond to clicks on div.inner-section.add-section -->
	                <label class="profile-add-avatar" style="height: 100%">
	                    <input id="profile-add-avatar" type="file" name="profile-add-logo" style="display: none">
	                </label>
	            </div>
	            <fieldset class="form-submit-cnt">
	                <input type="submit" value="Сохранить"/>
	                <a class="btn btn-secondary avatar-cancel-image">Отмена</a>
	            </fieldset>
	        </form>
	    </div>
    </script>
    
    {% endverbatim %}
    {% endif %}
    {% verbatim %}
    <script type="text/html" id="avatar-cnt-tmpl">
        <label class="add-photo-form"><input type="file" name="user-photo" id="user-photo"/></label>
        <img src="/img/{{pagename}}/avatar/" alt="photo"/>
        {{#is_editable}}
        <div class="profile-user-actions bottom">
			<div class="profile-user-actions-inner">
				<a class="edit js-img-edit"></a>
				<a class="remove js-img-remove" href="#"></a>
			</div>
		</div>
		{{/is_editable}}
    </script>
    {% endverbatim %}
	<div id="root-wrapper">
    	<div id="site-wrapper">
    		{% include "header.html" %}    		
        	<div class="js-page" data-page="profile"></div>
    		<div class="page-inner-cnt">
        		<div class="page-inner-wrapper">
		            <div class="inner-section profile-header no-padding">
		                <div class="profile-user-info-cnt" style="background-image: url('/img/bg_lk_service.jpg');">
		                    <div class="profile-user-info">
		                        <div class="photo-cnt">
		                            <img src="/img/{{pagename}}/avatar/" alt="photo"/>
		                        </div>
		                        <!-- В режиме редактирования
		                        
		                        -->
		                        <p class="username">{{owner.name}}</p>

		                        
		                        <div class="profile-action-buttons" style="display:none">
									<ul class="actions-list">
						                <li class="action-item"><a class="action-fold js-action" data-action="fold" href="#"></a></li>
						                <li class="action-item"><a class="action-add-user js-action" data-action="add-user" href="#"></a></li>
						                <li class="action-item"><a class="action-pin js-action" data-action="pin" href="#"></a></li>
						                <li class="action-item"><a class="action-mail js-action" data-action="mail" href="#" title="Сообщение"></a></li>
						            </ul>
						        </div>
		                        <div class="control-cnt" style="display:none">
		                            <a class="btn btn-small js-editable-trigger" href="#">Редактировать профиль</a>
		                            <!-- Активное состояние:
		                            <a class="btn btn-small active js-editable-trigger" href="#">Редактировать профиль</a>
		                            -->
		                        </div>
		                    </div>

		                    <!-- В режиме редактирования раскомментировать здесь
		                    <div class="add-profile-background">
		                        <label class="add-profile-bg-file" >Добавить фотографию обложки<i></i><input type="file" name="profile-bg" id="profile-bg"/></label>
		                    </div>
		                    -->
		                </div>
		                <div class="profile-top-nav-cnt">
                    		<ul class="js-panes-control profile-top-nav" data-panes="profile">
		                        <li class="js-tab-item">
		                        	<a class="js-pane-trigger active" href="#services_view">Услуги</a>
		                        </li>
		                        <li class="js-tab-item">
		                        	<a class="js-pane-trigger" href="#about_view">О нас</a>
		                        </li>
		                        <li class="js-tab-item">
		                        	<a class="js-pane-trigger" href="#portfolio_view">Портфолио</a>
		                        </li>
		                        {% if is_owner %}
		                        <li class="js-tab-item">
		                        	<a class="js-pane-trigger" href="#settings_view">Настройки</a>
		                        </li>
		                        {% endif %}
		                    </ul>
		                </div>
		            </div>
		            <div class="js-common-panes" id="profile">
                		<div class="js-pane active" id="services_view">
	        				{% include "lk_services.html" %}
	        			</div>
                		<div class="js-pane" id="about_view">
	        				{% include "lk_about.html" %}
	        			</div>
        				<div class="js-pane" id="portfolio_view">
	        				{% include "lk_portfolio.html" %}
						</div>
						{% if is_owner %}
						<div class="js-pane" id="settings_view">
							{% include "lk_settings.html" %}
						</div>
						{% endif %}
					</div>
        		</div>
			</div> <!-- .profile-cnt -->
		</div> <!-- #site-wrapper -->
		<div id="footer-struggle">

		</div>
	</div> <!-- #root-wrapper -->
	{% include "footer.html" %}
</body>