    <div id="auth-popup" class="fbx-content">
        <div class="auth-form-cnt">
            <p class="form-header">Форма регистрации</p>
            <form action="">
                <fieldset><input type="text" name="auth-name" id="auth-name" placeholder="Ваше имя"/></fieldset>
                <fieldset><input type="text" name="auth-last-name" id="auth-last-name" placeholder="Ваша фамилия"/></fieldset>
                <fieldset><input type="text" name="auth-email" id="auth-email" placeholder="E-mail"/></fieldset>
                <fieldset><input type="password" name="auth-pass" id="auth-pass" placeholder="Пароль"/><a class="pass-eye js-show-pass" href="#"></a></fieldset>
                <fieldset><input type="password" name="auth-pass2" id="auth-pass2" placeholder="Подтверждение пароля"/><a class="pass-eye js-show-pass" href="#"></a></fieldset>
                <fieldset><input class="btn-big" type="submit" value="Зарегистрироваться"/></fieldset>
            </form>
        </div>
        <div class="social-auth-cnt">
            <div class="separator"><span>или</span></div>
            <div class="social-buttons-list">
                <a class="btn btn-big btn-social fb" href="#">Facebook</a><a class="btn btn-big btn-social vk" href="#">Вконтакте</a><a class="btn btn-big btn-social gp" href="#">Google</a><a class="btn btn-big btn-social tw" href="#">Twitter</a>
            </div>
        </div>
    </div>