    <div id="register-popup" class="fbx-content">
        <div class="register-form-cnt">
            <p class="form-header">Форма регистрации</p>
            <div class="non-field-errors">
                {% if user_creation_form.non_field_errors %}            
                <ul class="errors-list filled">
                    {% for error in user_creation_form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}                
            </div>
            <form method="post" action="{% url 'app.views.index' %}">
                {% csrf_token %}                
                <fieldset>{{ user_creation_form.name }}</fieldset>
                {% if user_creation_form.username.errors %}
                <fieldset class="error">{{ user_creation_form.username }}
                    <ul class="errors-list filled">
                        {% for error in user_creation_form.username.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
                {% else %}
                <fieldset>{{ user_creation_form.username }}</fieldset>
                {% endif %}
                {% if user_creation_form.password1.errors %}
                <fieldset class="error">{{ user_creation_form.password1 }}<a class="pass-eye js-show-pass" href="#"></a>
                    <ul class="errors-list filled">
                        {% for error in user_creation_form.password1.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
                {% else %}
                <fieldset>{{ user_creation_form.password1 }}<a class="pass-eye js-show-pass" href="#"></a></fieldset>
                {% endif %}
                {% if user_creation_form.password2.errors %}                
                <fieldset class="error">{{ user_creation_form.password2 }}<a class="pass-eye js-show-pass" href="#"></a>
                    <ul class="errors-list filled">
                        {% for error in user_creation_form.password2.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
                {% else %}
                <fieldset>{{ user_creation_form.password2 }}<a class="pass-eye js-show-pass" href="#"></a></fieldset>
                {% endif %}
                <fieldset><input name="Create account" class="btn-big" type="submit" value="Зарегистрироваться"/></fieldset>
            </form>
        </div>
        <div class="social-register-cnt">
            <div class="separator"><span>или</span></div>
            <div class="social-buttons-list">
                <a class="btn btn-big btn-social fb" href="#">Facebook</a><a class="btn btn-big btn-social vk" href="#">Вконтакте</a><a class="btn btn-big btn-social gp" href="#">Google</a><a class="btn btn-big btn-social tw" href="{% url 'twitter_oauth_submit_button' %}">Twitter</a>
            </div>
        </div>
    </div>