<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    {% include "head.html" %}
</head>
<body>
    <script>
        global_context = {{ js_context|safe }};
    </script>

    <div id="root-wrapper">
        <div id="site-wrapper">
            {% include "header.html" %}            
            <div class="js-page" data-page="search"></div>
            {% include "search_content.html" %}            
        </div> <!-- #site-wrapper -->
        <div id="footer-struggle">

        </div>
    </div> <!-- #root-wrapper -->
    <div style="display:none">
    {% include "order_service_popup.html" %}
    </div>
    {% include "footer.html" %}
</body>