{% verbatim %}
<script type="text/html" id="search-item-template">
    <aside class="item-actions">
        <div class="actions-block">
            <div class="logo-cnt">
                <img src="/img/{{pagename}}/services/{{service_id}}/image/" alt="logo" />
            </div>
            <ul class="actions-list ">
                <li class="action-item"><a class="action-fold js-action" data-action="fold" href="#"></a></li>
                <li class="action-item"><a class="action-add-user js-action" data-action="add-user" href="#"></a></li>
                <li class="action-item"><a class="action-pin js-action" data-action="pin" href="#"></a></li>
                <li class="action-item"><a class="action-mail js-action" data-action="mail" href="#" title="Сообщение"></a></li>
            </ul>
        </div>
        <a class="btn btn-small js-search-popup">Заказать услугу</a>
    </aside>
    
    <div class="item-descr">
        <div class="descr-header">
            {{#has_rating}}
            <div class="item-rating">{{rating}}</div>
            {{/has_rating}}
            <div class="item-name">
                <a href="/profile/{{pagename}}/">{{service.name}}</a>
            </div>
        </div>
        <!-- TODO: person-online/person-offline -->
        <div class="person-status person-offline">{{name}}</div>
        <ul class="item-services-list">
            {{#service.points}}
            <li>
                <span>{{title}}</span>
                <span>{{price}}</span>
            </li>
            {{/service.points}}                
        </ul>
        <div class="item-expander">
            <a class="item-expand js-item-expand" href="#"></a>
        </div>
    </div>
</script>

<script type="text/html" id="balloon-tmpl">
    <div class="balloon-inner">
        <div class="balloon-left">
            <p><a class="balloon-service-name" href="/profile/{{pagename}}">{{service.name}}</a></p>
            <ul class="actions-list left">
                <li class="action-item"><a class="action-fold js-action" data-action="fold" href="#"></a></li>
                <li class="action-item"><a class="action-add-user js-action" data-action="add-user" href="#"></a></li>
                <li class="action-item"><a class="action-pin js-action" data-action="pin" href="#"></a></li>
                <li class="action-item"><a class="action-mail js-action" data-action="mail" href="#" title="Сообщение"></a></li>
            </ul>
        </div>
        <div class="balloon-right">
            <div class="person-status person-offline">{{name}}</div>
            {{#has_rating}}
            <div class="balloon-rating">{{rating}}</div>
            {{/has_rating}}
        </div>
    </div>
</script>

<script type="text/html" id="map-checkbox-tmpl">
    <div class="map-connect">
        <div class="common-form-cnt">
            <input type="checkbox" class="css-checkbox" name="map-connection" id="map-connection" {{#checked}} checked="checked"{{/checked}}/><label class="css-label" for="map-connection">Привязка к карте</label>
        </div>
    </div>
</script>
<script type="text/html" id="search-current-tag-tmpl">
    {{name}}<a class="tag-remove" href="#"></a>
</script>
<script type="text/html" id="search-new-tag-tmpl">
    {{name}}<a class="tag-add" href="#"></a>
</script>
<script type="text/html" id="search-selected-tags-tmpl">
    <div class="tags-group tags-request">
        <p class="tags-group-header">Текущие фильтры</p>
        <ul class="tags-list">
        </ul>
    </div>
</script>
<script type="text/html" id="search-add-tags-tmpl">
    <div class="tags-group tags-fine">
        <p class="tags-group-header">Добавить фильтры</p>
        <ul class="tags-list">
        </ul>
    </div>
</script>
{% endverbatim %}
<div class="full-sized-site-inner">
    <aside class="search-results-cnt">
        <a class="search-results-trigger js-search-results-trigger" href="#"></a>
        <div class="search-results-inner">
            <div class="search-tags-cnt">
                
            </div>
            <div class="search-results scrollable left-scroll">
                <ul class="search-results-list">
                    
                </ul>
                <div class="mobile-map-cnt">
                </div>
                <div class="search-view-switch-cnt mobile-show">
                    <a class="search-view-switch active js-search-view-switch" href="#" data-target="list">Список</a><a class="search-view-switch js-search-view-switch" href="#" data-target="map">Карта</a>
                </div>
            </div>
        </div>
    </aside>
    <div class="map-wrapper">
        <div class="map-cnt">

        </div>
    </div>
</div>
