<div class="utils-pane js-pane" id="messages" data-pane="messages">
    <div class="chat-list-cnt">
        <div class="utils-top-actions">
            <div class="left-block">
                <div class="search-cnt">
                    <form onsubmit="return false;">
                        <input type="text" class="chats-search" placeholder="Поиск по перепискам"/>
                    </form>
                </div>
            </div>
            <div class="right-block">
                <a class="utils-settings js-utils-operate" data-operate="remove" href="#"><i class="icon icon-settings"></i></a>
            </div>
        </div>
        <div class="utils-inner-content">
            <ul class="chat-list">
               
            </ul>
        </div>
    </div>
    <div class="chat">
        <div class="utils-top-actions">
            <div class="left-block">
                <div class="backlink-cnt">
                    <a href="#" class="js-close-chat">Назад</a>
                </div>
                <div class="chat-persons">

                </div>
            </div>
            <div class="right-block">
                <a class="utils-settings js-utils-operate" data-operate="remove" href="#"><i class="icon icon-settings"></i></a>
            </div>
        </div>
        <div class="utils-inner-content chat-content">
            <ul class="chat-messages-list">
            </ul>
        </div>
        <div class="chat-message-form">
            <form action="" onsubmit="return false;">
                <div class="chat-message-cnt">
                    <textarea name="chat-message" id="chat-message" placeholder="Текст сообщения..."></textarea>
                    <div class="smile-trigger js-smile-trigger">
                        <div class="smiles-panel">
                            <ul class="smiles-list">
                                <li class="js-smile smile-item"><i class="icon-emo-happy"></i></li>
                                <li class="js-smile smile-item"><i class="icon-emo-wink"></i></li>
                                <li class="js-smile smile-item"><i class="icon-emo-wink2"></i></li>
                                <li class="js-smile smile-item"><i class="icon-emo-unhappy"></i></li>
                                <li class="js-smile smile-item"><i class="icon-emo-sleep"></i></li>
                                <li class="js-smile smile-item"><i class="icon-emo-thumbsup"></i></li>
                                <li class="js-smile smile-item"><i class="icon-emo-devil"></i></li>
                                <li class="js-smile smile-item"><i class="icon-emo-surprised"></i></li>
                                <li class="js-smile smile-item"><i class="icon-emo-tongue"></i></li>
                                <li class="js-smile smile-item"><i class="icon-emo-coffee"></i></li>
                                <li class="js-smile smile-item"><i class="icon-emo-sunglasses"></i></li>
                                <li class="js-smile smile-item"><i class="icon-emo-displeased"></i></li>
                                <li class="js-smile smile-item"><i class="icon-emo-beer"></i></li>
                                <li class="js-smile smile-item"><i class="icon-emo-grin"></i></li>
                                <li class="js-smile smile-item"><i class="icon-emo-angry"></i></li>
                                <li class="js-smile smile-item"><i class="icon-emo-saint"></i></li>
                                <li class="js-smile smile-item"><i class="icon-emo-cry"></i></li>
                                <li class="js-smile smile-item"><i class="icon-emo-shoot"></i></li>
                                <li class="js-smile smile-item"><i class="icon-emo-squint"></i></li>
                                <li class="js-smile smile-item"><i class="icon-emo-laugh"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="chat-submit-cnt">
                    <input type="submit" value="Отправить сообщение"/>
                    <!--<label class="file-label">Прикрепить файл<input type="file" name="chat-file" id="chat-file"/></label>-->
                </div>
            </form>
        </div>
    </div>
</div>