<div class="utils-pane js-pane active" id="contacts" data-pane="contacts">
    <div class="utils-top-actions">
        <div class="left-block">
            <div class="search-cnt">
                <form onsubmit="return false;">
                    <input type="text" class="contacts-search" placeholder="Поиск по контактам"/>
                </form>
            </div>
        </div>
        <div class="right-block">
            <a class="utils-settings js-utils-operate" data-operate="remove" href="#"><i class="icon icon-settings"></i></a>
        </div>
    </div>
    <div class="utils-inner-content">
        <div class="contacts-list-cnt">
        </div>
    </div>
</div>