                    <div class="utils-pane js-pane" id="events" data-pane="events">
                        <div class="utils-top-actions">
                            <div class="left-block">
                                <div class="search-cnt">
                                    <form onsubmit="return false;">
                                        <input type="text" class="events-search" placeholder="Поиск по событиям"/>
                                    </form>
                                </div>
                            </div>
                            <div class="right-block">
                                <a class="utils-settings js-utils-operate" data-operate="remove" href="#"><i class="icon icon-settings"></i></a>
                            </div>
                        </div>
                        <div class="utils-inner-content">
                            <div class="events-list-cnt">
                                <ul class="events-list">
                                    
                                </ul>
                            </div>
                        </div>
                    </div>