<!-- Mustache TEMPLATES for chat -->
{% verbatim %}
<script type="text/html" id="chat-message-template">
    <li class="chat-message-item {{#my}} my-message {{/my}} js-operate-item">
        <div class="chat-message-wrapper">
            <div class="chat-message">
                <div class="chat-message-text">{{msg}}</div>
                <p class="chat-message-timestamp"> {{date}} </p>
            </div>
        </div>
        <a class="remove-item js-remove-item" href="#"></a>
    </li>
</script>
<script type="text/html" id="chat-room-template">                
    {{#data}}
        <div class="chat-item-wrapper">
            <div class="chat-avatar-cnt">
                <div class="img-cnt">
                    <img src="/img/{{user_page}}/avatar/" alt=""/>
                </div>
            </div>
            <div class="chat-item-inner">
                <p class="contact-name"><a class="profile-link" href="#"> {{user_name}} </a></p>
                <div class="person-status">Online</div>
                <p class="last-message-time">{{date}}</p>
                <div class="last-message-cnt">
                    <div class="avatar-cnt">
                        {{#poster_name}}
                        <div class="img-cnt"><img src="/img/{{poster_page}}/avatar" alt=""/></div>
                        {{/poster_name}}
                    </div>
                    <div class="last-message js-chat-trigger">
                        {{msg}}
                    </div>
                </div>
            </div>
        </div>
        <a class="remove-item js-remove-item" href="#"></a>
    {{/data}}
</script>
<!-- Mustache templates for Events -->
<script type="text/html" id="event-prov-pending-tmpl">
    <div class="event-inner">
        <div class="event-params">
            <div class="row">
                <div class="param-name">Дата</div>
                <div class="param-value param-date">{{date}}</div>
            </div>
            <div class="row">
                <div class="param-name">Заказчик</div>
                <div class="param-value">
                    <a href="/profile/{{page}}/">{{name}}<span class="js-client-count">({{reputation}})</span></a>
                </div>
            </div>
            <div class="row">
                <div class="param-name">Услуга</div>
                <div class="param-value">{{service_name}}</div>
            </div>
            <div class="row">
                <div class="param-name">Прайс</div>
                <div class="param-value">{{bullets}}</div>
            </div>
        </div>
        <div class="event-message">
            <div class="message">{{comment}}</div>
        </div>
        <div class="event-actions">
            <a class="btn btn-small js-event-accept" href="#">Принять</a>
            <a class="btn btn-small btn-secondary js-event-decline" href="#">Отклонить</a>
        </div>
    </div>
    <a href="#" class="remove-item js-remove-item" data-operate="remove"></a>
    <a href="#" class="make-pinned js-make-pinned"></a>
</script>
<script type="text/html" id="event-prov-in-progress-tmpl">
    <div class="event-inner">
        <div class="event-params">
            <div class="row">
                <div class="param-name">Дата</div>
                <div class="param-value param-date">{{date}}</div>
            </div>
            <div class="row">
                <div class="param-name">Заказчик</div>
                <div class="param-value">
                    <a href="/profile/{{page}}/">{{name}}<span class="js-client-count">({{reputation}})</span></a>
                </div>
            </div>
            <div class="row">
                <div class="param-name">Услуга</div>
                <div class="param-value">{{service_name}}</div>
            </div>
            <div class="row">
                <div class="param-name">Прайс</div>
                <div class="param-value">{{bullets}}</div>
            </div>
        </div>
        <div class="event-actions">
            <a class="btn btn-small js-event-complete" href="#">Готово</a>
        </div>
    </div>
    <a href="#" class="remove-item js-remove-item" data-operate="remove"></a>
    <a href="#" class="make-pinned js-make-pinned"></a>
</script>
<script type="text/html" id="event-prov-status-tmpl">
    <div class="event-inner">
        <div class="event-params">
            <div class="row">
                <div class="param-name">Дата</div>
                <div class="param-value param-date">{{date}}</div>
            </div>
            <div class="row">
                <div class="param-name">Заказчик</div>
                <div class="param-value">
                    <a href="/profile/{{page}}/">{{name}}<span class="js-client-count">({{reputation}})</span></a>
                </div>
            </div>
            <div class="row">
                <div class="param-name">Услуга</div>
                <div class="param-value">{{service_name}}</div>
            </div>
            <div class="row">
                <div class="param-name">Прайс</div>
                <div class="param-value">{{bullets}}</div>
            </div>
            <div class="row row-marked">
                <div class="param-name">Статус</div>
                <div class="param-value">{{status}}</div>
            </div>
        </div>
    </div>
    <a href="#" class="remove-item js-remove-item" data-operate="remove"></a>
    <a href="#" class="make-pinned js-make-pinned"></a>
</script>
<!-- <li class="event-item js-operate-item item-rate"> -->
<script type="text/html" id="event-prov-rated-tmpl">
    <div class="event-inner">
        <div class="event-params">
            <div class="row">
                <div class="param-value param-date">{{date}}</div>
            </div>
            <div class="row">
                <div class="param-value"><a href="/profile/{{page}}">{{name}}</a> оценил(а) вашу работу</div>
            </div>
            <div class="row">
                <div class="param-name">Оценка</div>
                <div class="param-value"><span class="event-service-rating">{{rating}}</span></div>
            </div>
            <div class="row">
                <a class="btn btn-small btn-orange js-event-thanks" href="#">Спасибо!</a>
                <a class="btn btn-small btn-secondary js-event-no-thanks" href="#">Нет</a>
            </div>
        </div>
    </div>
    <a href="#" class="remove-item js-remove-item" data-operate="remove"></a>
    <a href="#" class="make-pinned js-make-pinned"></a>
</script>
<!-- client views -->
<script type="text/html" id="event-client-pending-tmpl">
    <div class="event-inner">
        <div class="event-params">
            <div class="row">
                <div class="param-name">Дата</div>
                <div class="param-value param-date">{{date}}</div>
            </div>
            <div class="row">
                <div class="param-name">Исполнитель</div>
                <div class="param-value"><a a href="/profile/{{page}}/">{{name}}</a></div>
            </div>
            <div class="row">
                <div class="param-name">Услуга</div>
                <div class="param-value">{{service_name}}</div>
            </div>
            <div class="row">
                <div class="param-name">Прайс</div>
                <div class="param-value">{{bullets}}</div>
            </div>
            <div class="row row-marked">
                <div class="param-name">Статус</div>
                <div class="param-value">{{status}}</div>
            </div>
        </div>
        <div class="event-actions">
            <a class="btn btn-small btn-secondary js-event-revoke" href="#">Отказаться</a>
        </div>
    </div>
    <a href="#" class="remove-item js-remove-item" data-operate="remove"></a>
    <a href="#" class="make-pinned js-make-pinned"></a>
</script>
<!-- <li class="event-item js-operate-item item-info"> -->
<script type="text/html" id="event-info-tmpl">
    <div class="event-inner">
        <div class="event-params">
            <div class="row">
                <div class="param-value param-date">{{date}}</div>
            </div>
            <div class="row">
                <div class="param-value">
                    {{message}}
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="remove-item js-remove-item" data-operate="remove"></a>
    <a href="#" class="make-pinned js-make-pinned"></a>
</script>
<script type="text/html" id="event-client-status-tmpl">
    <div class="event-inner">
        <div class="event-params">
            <div class="row">
                <div class="param-name">Дата</div>
                <div class="param-value param-date">{{date}}</div>
            </div>
            <div class="row">
                <div class="param-name">Исполнитель</div>
                <div class="param-value"><a href="/profile/{{page}}/">{{name}}</a></div>
            </div>
            <div class="row">
                <div class="param-name">Услуга</div>
                <div class="param-value">{{service_name}}</div>
            </div>
            <div class="row">
                <div class="param-name">Прайс</div>
                <div class="param-value">{{bullets}}</div>
            </div>
            <div class="row row-marked">
                <div class="param-name">Статус</div>
                <div class="param-value">{{status}}</div>
            </div>
        </div>
    </div>
    <a href="#" class="remove-item js-remove-item" data-operate="remove"></a>
    <a href="#" class="make-pinned js-make-pinned"></a>
</script>
<script type="text/html" id="event-client-complete-tmpl">
    <div class="event-inner">
        <div class="event-params">
            <div class="row">
                <div class="param-name">Дата</div>
                <div class="param-value param-date">{{date}}</div>
            </div>
            <div class="row">
                <div class="param-name">Исполнитель</div>
                <div class="param-value"><a href="/profile/{{page}}/">{{name}}</a></div>
            </div>
            <div class="row">
                <div class="param-name">Услуга</div>
                <div class="param-value">{{service_name}}</div>
            </div>
            <div class="row">
                <div class="param-name">Прайс</div>
                <div class="param-value">{{bullets}}</div>
            </div>
            <div class="row row-marked">
                <div class="param-name">Статус</div>
                <div class="param-value">{{status}}</div>
            </div>
        </div>
        <div class="event-rating-cnt">
            <p class="header">Оцените качество работы</p>
            <div class="event-rating"></div>
            <a class="btn btn-small btn-orange js-event-rate" href="#">Ок</a>
        </div>
    </div>
    <a href="#" class="remove-item js-remove-item" data-operate="remove"></a>
    <a href="#" class="make-pinned js-make-pinned"></a>
</script>    
<!-- Bookmarks Mustache templates -->  
<script type="text/html" id="bookmark-tmpl">
    <div class="contact-avatar-cnt">
        <div class="img-cnt"><img src="/img/{{page}}/avatar" alt="avatar"/></div>
    </div>
    <div class="contact-inner">
        <p class="contact-name"><a href="/profile/{{page}}">{{name}}</a></p>
        <div class="person-status person-offline">Offline</div>
        <ul class="actions-list left">
            <li class="action-item"><a class="action-fold js-action" data-action="fold" href="#"></a></li>
            <li class="action-item"><a class="action-pin js-action" data-action="pin" href="#"></a></li>
            <li class="action-item"><a class="action-remove-user js-action" data-action="remove-user" href="#"></a></li>
            <li class="action-item"><a class="action-mail js-action" data-action="mail" href="#" title="Сообщение"></a></li>
        </ul>
        {{#note}}
        <p class="contact-note">{{note}}</p>
        {{/note}}

        <div class="add-note-link">
            <a class="add-contact-note js-add-contact-note" href="#">
            {{^has_note}}Оставить заметку{{/has_note}}
            {{#has_note}}Изменить заметку{{/has_note}}
            </a>
        </div>
        <div class="contact-note-form-cnt">
            <form action="">
                <textarea class="js-contact-note" name="contact-note" placeholder="Текст комментария">{{note}}</textarea>
                <input type="submit" value="Оставить заметку">
            </form>
        </div>
    </div>
    <a class="remove-item js-remove-item" href="#"></a>
</script>
<script type="text/html" id="bookmark-section-tmpl"> 
    <div class="contacts-list-section">
        <p class="section-header">{{letter}}</p>
    </div>
</script>
{% endverbatim %}
<div class="utils-sidebar">
    <ul class="js-panes-control utils-tabs" data-panes="utils">
        <li class="js-tab-item utils-tab-item">
            <a class="js-pane-trigger" href="#" data-pane="contacts">Контакты</a>
        </li>
        <li class="js-tab-item utils-tab-item">
            <a class="js-pane-trigger" href="#" data-pane="messages">Сообщения</a>
        </li>
        <li class="js-tab-item utils-tab-item">
            <a class="js-pane-trigger" href="#" data-pane="events">События</a>
        </li>
    </ul>
        
    <div class="js-panes" id="utils">
        {% include "sidebar_contacts.html" %}
        {% include "sidebar_messages.html" %}
        {% include "sidebar_events.html" %}

    </div>
        
</div>