$chosen-sprite: image-url('/img/spr_icons.png') !default;
$chosen-sprite-retina: image-url('/css/plugins/chosen-sprite@2x.png') !default;
.header-select {
    &.chosen-container-single {
        width: 100% !important;
        position: relative;
        z-index: 1;
        .chosen-single {
            @include border-radius(0);
            @include box-shadow(none);
            background: none;
            border:none;
            @include myreg;
            @include font(#3a3a3a, 13px, 34px);
            height: 34px;
            letter-spacing: 0.2px;
            padding-left: 40px;
            span {
                margin-right: 34px;
                text-align: left;
            }
            div {
                width: 34px;
                b {
                    width: 18px;
                    height: 18px;
                    margin: 8px;
                    background: $chosen-sprite -44px 7px no-repeat;
                }
            }
            .index-page & {
                height: 20px;
                line-height: 20px;
                div {
                    b {
                        margin: 0;
                        //background: $chosen-sprite -44px 7px no-repeat;
                    }
                }
            }
        }
        .chosen-drop {
            @include border-radius(0);
            border:1px solid #e8e8e8;
            @include box-shadow(none);
            .chosen-results {
                margin:0;
                padding:0;
                li {
                    @include myreg;
                    @include font(#7b7b7b, 13px, 11px);
                    letter-spacing: 1px;
                    text-align:left;
                    padding:8px 15px 8px 30px;
                    &.highlighted {
                        background: #f2f2f2;
                    }
                    &.result-selected {
                        position: relative;
                        &:before {
                            content:'';
                            position: absolute;
                            width: 13px;
                            height: 10px;
                            background: url('/img/spr_icons.png') -250px -100px no-repeat;
                            left: 8px;
                            top: 8px;
                        }
                    }
                }
            }
        }
    }
    &.chosen-container-active {
        &.chosen-with-drop {
            .chosen-single {
                div {
                    b {
                        background-position: -94px 7px;
                    }
                }
            }
        }
    }
}

.single-select {
    &.chosen-container-single {
        width: 100% !important;
        .chosen-single {
            @include border-radius(6px);
            @include box-shadow(none);
            background: #fff;
            border:1px solid #b6bfc9;
            @include myreg;
            @include font(#3a3a3a, 13px, 34px);
            height: 34px;
            letter-spacing: 0.2px;
            padding-left: 15px;
            span {
                margin-right: 34px;
                text-align: left;
            }
            div {
                width: 34px;
                b {
                    width: 18px;
                    height: 18px;
                    margin: 8px;
                    background: $chosen-sprite -44px 7px no-repeat;
                }
            }
        }
        &.chosen-with-drop {
            .chosen-single {
                @include border-radius(6px 6px 0 0);
            }
        }
        .chosen-drop {
            @include border-radius(0 0 6px 6px);
            border:1px solid #b6bfc9;
            @include box-shadow(none);
            .chosen-results {
                margin:0;
                padding:0;
                li {
                    @include myreg;
                    @include font(#3a3a3a, 13px, 11px);
                    text-align:left;
                    padding:11px 15px 11px 30px;
                    &.highlighted {
                        background: #f2f2f2;
                    }
                    &.result-selected {
                        position: relative;
                        &:before {
                            content:'';
                            position: absolute;
                            width: 13px;
                            height: 10px;
                            background: url('/img/spr_icons.png') -250px -100px no-repeat;
                            left: 8px;
                            top: 8px;
                        }
                    }
                }
            }
        }
    }
    &.chosen-container-active {
        &.chosen-with-drop {
            .chosen-single {
                div {
                    b {
                        background-position: -94px 7px;
                    }
                }
            }
        }
    }
}

.multiple-select {
    &.chosen-container-multi {
        width: 100% !important;
        .chosen-choices {
            height: 34px;
            @include border-radius(6px);
            @include box-shadow(none);
            background: #fff;
            border:1px solid #b6bfc9;
            cursor: default;
            position: relative;
            li.search-field {
                float: none;
                display: inline-block;
                vertical-align: middle;
                input[type=text] {
                    height: 34px;
                    background: #fff;
                    @include myreg;
                    @include font(#3a3a3a, 13px, 1);
                    text-transform: none;
                    letter-spacing: 0;
                    padding-left: 7px;
                }
            }
            li.search-choice {
                float: none;
                display: inline-block;
                vertical-align: middle;
                height: 25px;
                @include myreg;
                @include font(#3a3a3a, 12px, 25px);
                border:none;
                background: #dee2e7;
                @include box-shadow(none);
                padding-top: 0;
                padding-bottom: 0;
                .search-choice-close {
                    top: 9px;
                    right: 6px;
                    width: 7px;
                    height: 7px;
                    background-image: url('/img/spr_icons.png');
                    background-position: -500px -50px;
                    @include opacity(1);
                    &:hover {
                        @include opacity(1);
                    }
                }
            }
        }
        .chosen-drop {
            @include border-radius(0);
            border:1px solid #e8e8e8;
            @include box-shadow(none);
            .chosen-results {
                margin:0;
                padding:0;
                li {
                    @include arialreg;
                    @include font(#171717, 11px, 11px);
                    letter-spacing: 0;
                    text-transform: none;
                    padding:10px 15px;
                    &.highlighted {
                        background: #f2f2f2;
                    }
                    &.result-selected, &.disabled-result {
                        color: #999999;
                    }
                }
            }
        }
    }
    &.chosen-container-active {
        .chosen-choices {
            li.search-field {
                input[type=text] {
                    color: #3a3a3a !important;
                }
            }
        }
    }
}

