input[type=text], input[type=search], input[type=email], input[type=password], input[type=date], textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px 9px 15px;
    border:1px solid #b6bfc9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    @include myreg;
    @include font(#3a3a3a, 13px, initial);
    &:focus {
        border-color: $cBlue;
        outline:none;
    }
    &::-webkit-input-placeholder {
        color:#7b7b7b;
    }
    &:-moz-placeholder {
        color:#7b7b7b;
    }
    &:-ms-input-placeholder {
        color:#7b7b7b;
    }
    &.date-input {
        height: 32px;
        border:none;
        padding-right: 15px;
        padding-left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        @include myreg;
        @include font(#3a3a3a, 13px, 13px);
        background: url('/img/icon_calendar.png') 100% 50% no-repeat;
        &:focus {
            outline: none;
        }
        &:hover {
            cursor:pointer;
        }
    }
    .error & {
        border-color: #e5453d;
    }
}


textarea {
    resize: none;
    overflow: auto;
    line-height: 20px;
}

button, input[type=submit], .btn {
    display: inline-block;
    padding: 10px 18px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    @include myreg;
    @include font(#fff, 11px, 10px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: $cBlue;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    @include transition(background-color 0.3s);
    -webkit-appearance: none;
    &:before {
    }
    &:hover {
        background: #4e98d5;
        cursor: pointer;
        &:before {
        }
    }
    &:disabled, &.disabled {
        background: #b6bfc9;
    }
    &:active {
        background: #3d7caf;
    }

    &:visited {
    }

    &.btn-small {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        padding: 6px 8px;
        &.active {
            background: #3d7caf;
        }
    }
    &.btn-big {
        padding: 10px 20px;
        font-size: 13px;
        line-height: 13px;
    }
    +.btn, +input, +button {
        margin-left: 10px;
    }
    &.btn-secondary {
        background: #b6bfc9;
    }
    &.btn-orange {
        background: #ecb338;
    }
    
}

input[type=submit] {
    &:hover {
    }
    &:disabled {
        &:hover {
        }
    }
}

input[type=checkbox].css-checkbox, input[type=radio].css-checkbox {
    display:none;
}

input[type=checkbox].css-checkbox + label.css-label,
input[type=radio].css-checkbox + label.css-label {
    padding-left:20px;
    display:inline-block;
    vertical-align:middle;
    @include myreg;
    @include font(#3a3a3a, 13px, 20px);
    text-transform: none;
    letter-spacing: normal;
    position: relative;
    cursor:pointer;
    &:before {
        content:'';
        position: absolute;
        left:0;
        top:4px;
        width: 11px;
        height: 11px;
        background-image:url('/img/spr_checkboxes.png');
        background-repeat: no-repeat;
    }
}

input[type=checkbox].css-checkbox + label.css-label {
    &:before {
        background-position: -20px 0;
    }
    &:hover {
        &:before {
            background-position: -20px -20px;
        }
    }
    &:active {
        &:before {
            background-position: -20px -20px;
        }
    }
    .error & {
        &:before {
            background-position: -20px -60px;
        }
    }

}

input[type=radio].css-checkbox + label.css-label {
    &:before {
        background-position: 0 0;
    }
    &:hover {
        &:before {
            background-position: 0 -20px;
        }
    }
    &:active {
        &:before {
            background-position: 0 -20px;
        }
    }
    .error & {
        &:before {
            background-position: 0 -60px;
        }
    }
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    &:before {
        background-position: -20px -40px;
    }
    &:hover {
        &:before {
            background-position: -20px -40px;
        }
    }

}
input[type=checkbox].css-checkbox.checked + label.css-label {
    &:before {
        background-position: -20px -40px;
    }
    &:hover {
        &:before {
            background-position: -20px -40px;
        }
    }
}

input[type=checkbox].css-checkbox:disabled + label.css-label {
    color:#7b7b7b;
    &:hover {
        &:before {
            background-position: -20px 0;
        }
    }
}

input[type=radio].css-checkbox:checked + label.css-label,
input[type=radio].css-checkbox.checked + label.css-label {
    &:before, &:hover:before {
        background-position: 0 -40px;
    }
}

input[type=radio].css-checkbox:disabled + label.css-label {
    color:#7b7b7b;
    &:hover {
        &:before {
            background-position: 0 0;
        }
    }
}

label.css-label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    +input[type=checkbox] + label.css-label, +input[type=radio] + label.css-label {
        margin-left: 30px;
    }
}

.common-form-cnt {
    fieldset, .fieldset {
        position: relative;
        margin-bottom: 20px;
        p {
            @include myreg;
            @include font(#7b7b7b, 13px, 20px);
            &.label {
                @include myreg;
                @include font(#b5bac0, 10px, 12px);
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 10px;
                display: block;
            }
        }
    }
    label, .label {
        @include myreg;
        @include font(#b5bac0, 10px, 12px);
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;
        display: block;
        &.file-label {
            padding-left: 20px;
            display: inline-block;
            @include font($cBlue, 13px, 20px);
            text-transform: none;
            letter-spacing: normal;
            background: url('/img/spr_icons.png') -550px -450px no-repeat;
            &:hover {
                cursor:pointer;
            }
            span {
                color:#b5bac0;
                display: inline-block;
                margin-left: 18px;
            }
            input[type=file] {
                position: absolute;
                visibility: hidden;
            }
        }
        &.css-label {
            margin-bottom: 0;
        }
    }
    .row {
        @include pie-clearfix;
        .col12 {
            width: 350px;
            margin-left: 95px;
            float: left;
            &:first-child {
                margin-left: 0;
            }
        }

        .col13 {
            width: 270px;
            float: left;
            margin-left: 35px;
            &:first-child {
                margin-left: 0;
            }
            +.col23 {
                margin-left: 35px;
            }
        }
        .col23 {
            width: 575px;
            float: left;
        }
    }
    .form-header {
        @include myreg;
        @include font(#383737, 25px, 30px);
        text-align: center;
        margin-bottom: 15px;
    }


}

@media (max-width: 640px) {
    input[type=text], input[type=search], input[type=email], input[type=password], input[type=date], textarea{
        padding: 17px 30px;
        @include font(#3a3a3a, 26px, 24px);
    }

    textarea {
        line-height: 40px;
    }

    button, input[type=submit], .btn {
        display: inline-block;
        padding: 22px 36px;
        text-align: center;
        @include myreg;
        @include font(#fff, 22px, 24px);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background: $cBlue;
        border: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-decoration: none;
        @include transition(background-color 0.3s);
        &:before {
        }
        &:hover {
            background: #4e98d5;
            cursor: pointer;
            &:before {
            }
        }
        &:disabled, &.disabled {
        }
        &:active {
        }

        &:visited {
        }

        &.btn-small {
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            padding: 10px 16px;
        }
        &.btn-big {
            padding: 20px 40px;
            font-size: 26px;
            line-height: 26px;
        }
        +.btn, +input, +button {
            margin-left: 20px;
        }
        &.btn-secondary {
            background: #b6bfc9;
        }

    }

    input[type=checkbox].css-checkbox + label.css-label,
    input[type=radio].css-checkbox + label.css-label {
        padding-left:40px;
        @include font(#3a3a3a, 26px, 40px);
        &:before {
            top:9px;
            width: 22px;
            height: 22px;
        }
    }

    input[type=checkbox].css-checkbox + label.css-label {
        &:before {
            background-position: -80px 0;
        }
        &:hover {
            &:before {
                background-position: -80px 0;
            }
        }
        &:active {
            &:before {
                background-position: -80px 0;
            }
        }
        .error & {
            &:before {
                background-position: -80px -120px;
            }
        }

    }

    input[type=radio].css-checkbox + label.css-label {
        &:before {
            background-position: -40px 0;
        }
        &:hover {
            &:before {
                background-position: -40px 0;
            }
        }
        &:active {
            &:before {
                background-position: -40px 0;
            }
        }
        .error & {
            &:before {
                background-position: -40px -120px;
            }
        }
    }

    input[type=checkbox].css-checkbox:checked + label.css-label {
        &:before {
            background-position: -80px -80px;
        }
        &:hover {
            &:before {
                background-position: -80px -80px;
            }
        }

    }
    input[type=checkbox].css-checkbox.checked + label.css-label {
        &:before {
            background-position: -80px -80px;
        }
        &:hover {
            &:before {
                background-position: -80px -80px;
            }
        }
    }

    input[type=checkbox].css-checkbox:disabled + label.css-label {
        &:hover {
            &:before {
                background-position: -80px 0;
            }
        }
    }

    input[type=radio].css-checkbox:checked + label.css-label,
    input[type=radio].css-checkbox.checked + label.css-label {
        &:before, &:hover:before {
            background-position: -40px -80px;
        }
    }

    input[type=radio].css-checkbox:disabled + label.css-label {
        &:hover {
            &:before {
                background-position: -40px 0;
            }
        }
    }

    label.css-label {
        +input[type=checkbox] + label.css-label, +input[type=radio] + label.css-label {
            margin-left: 60px;
        }
    }

    .common-form-cnt {
        fieldset, .fieldset {
            margin-bottom: 40px;
            p {
                @include font(#7b7b7b, 26px, 40px);
                &.label {
                    @include font(#b5bac0, 20px, 24px);
                    margin-bottom: 20px;
                }
            }
        }
        label, .label {
            @include font(#b5bac0, 20px, 24px);
            margin-bottom: 20px;
            &.file-label {
                display: none;
                padding-left: 40px;
                @include font($cBlue, 26px, 40px);
                background: url('/img/spr_icons.png') -550px -500px no-repeat;
                span {
                    margin-left: 30px;
                }
            }
        }
        .row {
            .col12 {
                width: 100%;
                margin-left: 0;
                float: none;
                margin-bottom: 40px;
                &:first-child {
                    margin-left: 0;
                }
            }

            .col13 {
                width: 100%;
                float: none;
                margin-left: 0;
                &:first-child {
                    margin-left: 0;
                }
                +.col23 {
                    margin-left: 0;
                }
            }
            .col23 {
                width: 100%;
                float: none;
            }
        }

    }
}
