/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

#overlay, .bust-overlay{
    position:absolute;
    z-index:10; /*input is 10*/
    display:none;
    width:100%;
    height:100%;
    background:url('/img/bg_overlay.png') left top repeat;
}
.bust-overlay {
    left:0;
    top:0;
    i {
        width: 36px;
        height: 36px;
        position: absolute;
        left:50%;
        margin-left: -18px;
        top:50%;
        margin-top: -18px;
        background: url('/img/preloader.gif') 0 0 no-repeat;
    }
}

.wrapper {
    width: $baseWidth;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0 10px;
    margin:0 auto;
}

.fleft {
    float: left;
}
.fright {
    float: right;
}
.aleft {
    text-align: left;
}
.aright {
    text-align: right;
}
.acenter {
    text-align: center;
}

.row {
    position: relative;
    width: 100%;
}


.ib {
    display: inline-block;
    &.m {
        vertical-align: middle;
    }
}

.full-width {
    width: 100%;
}
.full-height {
    height: 100%;
    min-height: 100%;
}

.inline-cnt {
    font-size: 1px;
    > * {
        &:first-child {
            margin-left: 0;
        }
    }
}

.fancybox__close {
    position: absolute;
    top:20px;
    right:20px;
    width: 15px;
    height: 15px;
    z-index: 8041;
    &.solid {
        background: rgba(67, 67, 67, 0.67);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        width: 30px;
        height: 30px;
        .fbx__close {
            margin-left: 7px;
            margin-top: 7px;
        }
    }
}

.fbx__close {
    display: block;
    width: 15px;
    height: 15px;
    background-image: inline_image('icon_fbx_close.png');
    @include transition(background-image 0.2s ease);
    text-decoration: none;
    &:hover {
        text-decoration: none;
        background-image: inline_image('icon_fbx_close_active.png');
    }
}

.full-block {
    display: block;
    width: 100%;
    height: 100%;
}

.valign-inner {
    display: inline-block;
    vertical-align: middle;
}
