@media (max-width: 640px) {
    html {
        min-width: 640px;
    }
    .mobile-show {
        display: inherit;
    }

    #site-wrapper {
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    h1 {
        @include font(#3a3a3a, 60px, 72px);
        margin-bottom: 60px;
        font-weight: normal;
        &:after {
            width: 88px;
            height: 6px;
            background: #00b7f4;
            bottom: -30px;
        }
    }

    h2 {
        @include font(#383737, 40px, 48px);
        margin-bottom: 32px;
        padding-bottom: 16px;
        border-bottom: 2px solid #dee2e7;
        font-weight: normal;
    }

    h3 {
        @include font(#3a3a3a, 30px, 40px);
        margin-bottom: 32px;
        padding-bottom: 20px;
        border-bottom: 2px solid #dee2e7;
        font-weight: normal;
    }

    h4 {
        @include font(#383737, 26px, 36px);
        margin-bottom: 24px;
        margin-top: 20px;
        font-weight: normal;
        border-bottom: 2px solid #dde3e8;
        padding-bottom: 20px;
    }

    p {
        @include font(#383737, 26px, 40px);
        margin-bottom: 20px;
        &.lead {
            @include font(#7b7b7b, 36px, 48px);
            margin-bottom: 40px;
        }
        a {
            &[href=""] {
                border-bottom: 2px dotted #b5bac0;
            }
        }

    }
    sup {
        margin-top: -8px;
    }

    /*************************************************************
    *                   GLOBAL HEADER
    **************************************************************/

    .global-header {
        height: 110px;
        border-bottom: 4px solid $cBlue;
        position: relative;
        z-index: 3;
        .logo {
            width: 294px;
            float: left;
            height: 110px;
            background: url('/img/logo_mobile.png') 50% 50% no-repeat;
        }
        .index-page & {
            border-bottom: none;

            .logo {
                background: url('/img/logo_index_mobile.png') 25px 50% no-repeat;
                margin-top: 0;
            }
        }
        &.fixed {
            position: relative;
            width: auto;
            z-index: inherit;
            @include box-shadow(none);
            + .overlay + .page-inner-cnt {
                padding-top: inherit;
            }
        }
    }
    .full-sized-site-inner {
        @include pie-clearfix;
    }
    .index-page {
        .full-sized-site-inner {
            h1 {
                @include myreg;
                @include font(#fff, 70px, 70px);
                letter-spacing: 0.2px;
                margin-bottom: 40px;
            }
            p {
                @include myreg;
                @include font(#fff, 25px, 32px);
                margin-bottom: 12px;
            }
        }
        a.register-btn {
            font-size: 32px;
            padding: 28px 80px;
            margin-top: 40px;
        }
        .welcome-block {
            padding-left: 20px;
            padding-right: 20px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            top: 220px;
            @include transform(translateY(0));

        }
    }

    .index-slider-pagination {
        display: none;
    }

    .header-actions {
        float: right;
        width: 236px;
        .login-btn {
            padding-left: 60px;
            @include font(#fff, 30px, 1);
            margin-top: 45px;
            margin-right: 20px;
            &:before {
                width: 32px;
                height: 34px;
                background: url('/img/spr_icons.png') -50px -450px no-repeat;
            }
        }
    }

    %bar-mobile {
        position: absolute;
        width: 36px;
        height: 4px;
        background: #fff;
        left: 50%;
        margin-left: -18px;
    }

    .sidebar-trigger {
        width: 110px;
        height: 110px;
        i {
            @extend %bar-mobile;
            top: 50%;
            margin-top: -2px;
            @include transition(all 0.3s);
        }
        span {
            position: absolute;
            @include myreg;
            @include font(#fff, 18px, 22px);
            padding: 4px 6px 3px 6px;
            min-width: 30px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            background: #3a3a3a;
            text-align: center;
            bottom: 30px;
            right: 23px;
            z-index: 1;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        &:before {
            content:'';
            @extend %bar-mobile;
            top: 41px;
            @include transition(all 0.3s);
        }
        &:after {
            content:'';
            @extend %bar-mobile;
            bottom: 41px;
            @include transition(all 0.3s);
        }
        .expanded-sidebar & {
            i {
                @include opacity(0);
            }
            &:before {
                width: 42px;
                @include transform(rotate(45deg) translate3d(9px,9px,0));
            }
            &:after {
                width: 42px;
                @include transform(rotate(-45deg) translate3d(8px,-7px,0));
            }
        }
    }

    .top-profile {
        width: 126px;
        float: right;
        height: 110px;
        line-height: 110px;
        border-left: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        z-index: 2;
        text-align: center;
        @include transition(background-color 0.2s);
        &:hover {
            cursor: inherit;
            background: inherit;
            .top-profile-dropdown {
                display: none;
                @include opacity(0);
                visibility: inherit;
                @include transform(none);
            }
        }
        .profile-opened & {
            background: #e9eef3;
        }
    }

    .top-profile-avatar-cnt {
        display: inline-block;
        width: 72px;
        height: 72px;
        line-height: 72px;
        vertical-align: middle;
        overflow: hidden;
        -webkit-border-radius: 36px;
        -moz-border-radius: 36px;
        border-radius: 36px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        img {
            width: 72px;
        }
    }

    .top-profile-info {
        display: block;
        vertical-align: inherit;
        border-bottom: 3px solid #dde3e8;
        padding-bottom: 20px;
        overflow: hidden;
        margin-left: 21px;
        margin-right: 21px;
    }


    .top-profile-name {
        float: left;
        @include myb;
        @include font(#3a3a3a, 35px, 40px);
    }

    .top-profile-meta {
        float: right;
        @include myreg;
        @include font(#b4bbc2, 26px, 40px);
    }

    .top-profile-dropdown {
        width: 100%;
        position: absolute;
        left: 0;
        top: 110px;
        padding-top: 30px;
        padding-bottom: 20px;
        background: #e9eef3;
        box-shadow: none;
        @include opacity(0);
        visibility: hidden;
        @include transform(translateY(40px));
        @include transition(all 0.3s);
        z-index: 3;
        .profile-opened & {
            @include opacity(1);
            visibility: visible;
            @include transform(translateY(0));
        }
    }

    .top-profile-menu {
        list-style: none;
        padding: 35px 0 0 0;
        margin-left: 24px;
        margin-right: 24px;
        li {
            display: block;
            margin-bottom: 40px;
            a {
                @include font(#3a3a3a, 26px, 26px);
            }
        }
    }

    .top-profile-bar-link {
        display: block;
        border-top: 3px solid #dee2e7;
        @include myreg;
        @include font(#3a3a3a, 26px, 26px);
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 0;
        margin-left: 21px;
        margin-right: 21px;
        &:hover {
            color: #b6bfc9;
            text-decoration: none;
            i.icon-settings {
                background-position: inherit;
            }
            i.icon-logout {
                background-position: inherit;
            }
        }
        i.icon {
            margin-right: 30px;
        }
    }

    i.icon {
        width: 40px;
        height: 40px;
        display: inline-block;
        vertical-align: middle;
        background-image: url('/img/spr_icons.png');
        background-repeat: no-repeat;

        &.icon-settings {
            background-position: 0 -400px;
            &:hover {
                background-position: 0 -400px;
            }
        }

        &.icon-logout {
            background-position: -50px -400px;
            &:hover {
                background-position: -50px -400px;
            }
        }
    }

    .header-search-trigger {
        float: right;
        width: 110px;
        height: 110px;
        background: #dee2e7;
        position: relative;
        &:before {
            content:'';
            position: absolute;
            width: 40px;
            height: 40px;
            left: 50%;
            margin-left: -20px;
            top: 50%;
            margin-top: -20px;
            background: url('/img/spr_icons.png') 3px -445px no-repeat;
        }
    }

    .header-search-cnt {
        float: none;
        position: absolute;
        width: 100%;
        margin-right: 0;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        font-size: inherit;
        text-align: inherit;
        margin-top: 0;
        padding: 40px 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        top: 110px;
        left: 0;
        background: #dee2e7;
        @include transition(all 0.2s);
        z-index: 2;
        @include opacity(0);
        @include transform(translateY(40px));
        visibility: hidden;
        .search-opened & {
            @include opacity(1);
            visibility: visible;
            @include transform(translateY(0));
        }
        .index-page & {
            border:none;
            background: none;
            top: 83px;
            position: absolute;
            float: none;
            left: -9999px;
            right: -9999px;
            margin: auto;
            width: 100%;
            input[type=submit] {
                width: 185px;
                height: 76px;
                background: #202020 url('/img/spr_icons.png') no-repeat -514px -22px;
                border:none;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;

                &.focused {
                    border:none;
                    input[type=submit] {
                        background-color: #000;
                    }
                }
            }
        }

        input[type=text].header-search {
            display: block;
            border:2px solid #b4c0cb;
            @include myreg;
            @include font(#3a3a3a, 26px, initial);
            width: 100%;
            margin-bottom: 20px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            padding: 20px 40px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            .index-page & {
                width: 100%;
            }
            &:focus {
                outline: none;
            }
            &::-webkit-input-placeholder {
                color: #b4bbc2;
            }
            &:-moz-placeholder {
                color: #b4bbc2;
            }
            &:-ms-input-placeholder {
                color: #b4bbc2;
            }
        }
        input[type=submit] {
            display: block;
            float: right;
            width: 185px;
            height: 76px;
            border:none;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            position: relative;
            background: #65abd0 url('/img/spr_icons.png') no-repeat -514px -22px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-size: 22px;
            padding-left: 45px;
            &:hover {
                cursor: pointer;
            }
            &.mobile-show {
                display: block;
            }
        }

        &.focused {
            border:none;
            input[type=submit] {
                background-color: #65abd0;
            }
        }

        .city-select-cnt {
            display: block;
            width: 393px;
            float: left;
            //padding-left: 40px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border:2px solid #b4c0cb;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            position: relative;
            background: #fff;
            i {
                width: 28px;
                height: 28px;
                left: 28px;
                top: 50%;
                margin-top: -14px;
                background: url('/img/spr_icons.png') -200px -450px no-repeat;
                z-index: 1;
            }
            input[type=text] {
                width: 100%;
                height: 72px;
                border:none;
                -webkit-appearance: none;
                -moz-appearance: none;
                text-indent: 1px;
                text-overflow: '';
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                background: none;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                font-size: 26px;
                padding-left: 70px;
                color: #3a3a3a;
            }

//            &:before {
//                content:'';
//                position: absolute;
//                width: 12px;
//                height: 8px;
//                background: url('/img/spr_icons.png') -100px -350px no-repeat;
//                top: 40px;
//                right: 33px;
//                left: inherit;
//            }
//            select {
//                width: 100%;
//                height: 72px;
//                border:none;
//                -webkit-appearance: none;
//                -moz-appearance: none;
//                text-indent: 1px;
//                text-overflow: '';
//                -webkit-box-sizing: border-box;
//                -moz-box-sizing: border-box;
//                box-sizing: border-box;
//                background: none;
//                -webkit-border-radius: 0;
//                -moz-border-radius: 0;
//                border-radius: 0;
//                font-size: 26px;
//                padding-left: 40px;
//                color: #3a3a3a;
//            }
        }
    }

    #auth-popup, #change-pass-popup, #register-popup, #forgot-pass-popup {
        width: auto;
        .auth-form-cnt, .register-form-cnt, .forgot-pass-form-cnt {
            width: 600px;
            .form-header {
                @include font(#383737, 50px, 60px);
                margin-bottom: 30px;
            }
            fieldset {
                margin-bottom: 30px;
                &:last-child {
                    margin-top: 40px;
                    text-align: center;
                    margin-bottom: 10px;
                }
            }
            input[type=text], input[type=password] {
                width: 100%;
                height: 72px;
                padding-left: 32px;
                padding-right: 32px;
                font-size: 26px;
                +a.pass-eye {
                    background-position: -100px -450px;
                }
            }
            input[type=password] {
                padding-right: 36px;
                +a.pass-eye {
                    background-position: -150px -450px;
                }
            }
        }
        .social-auth-cnt, .social-register-cnt {
            width: 576px;
            .separator {
                margin-bottom: 50px;
                &:before {
                    height: 2px;
                    margin-top: -1px;
                }
                span {
                    @include font(#666666, 28px, 40px);
                    padding: 4px 20px;
                }
            }
        }


        .btn-social {
            padding-left: 50px;
            position: relative;
            margin-left: 8px;
            margin-right: 8px;
            margin-bottom: 16px;
            width: 272px;

            &:before {
                width: 32px;
                height: 32px;
                top: 20px;
                left: 52px;
            }
            &.fb {
                &:before {
                    background-position: -200px -500px;
                }
                background: #45629f;
            }
            &.vk {
                &:before {
                    background-position: -250px -500px;
                }
                background: #5783bf;
            }
            &.tw {
                &:before {
                    background-position: -350px -500px;
                }
                background: $cBlue;
            }
            &.gp {
                &:before {
                    background-position: -300px -500px;
                }
                background: #b84336;
            }
            +.btn {
                margin-left: 8px;
            }
        }
        .pass-eye {
            width: 40px;
            height: 22px;
            right: 26px;
            top: 28px;
        }
        .forgot-pass-link {
            @include font(#7b7b7b, 24px, inherit);
            margin-left: 25px;
        }

        .auth-register-link {
            padding-top: 30px;
            padding-bottom: 30px;
            margin-top: 30px;
            a {
                @include font(#fff, 28px, 1);
            }
        }
        .auth-form-cnt {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    #auth-popup {
        width: auto;
    }

    /*-------------------- UTILS SIDEBAR -------------------*/

    .utils-sidebar {
        padding: 20px;
        top: 110px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .utils-inner-cnt {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }
    .utils-tabs {
        @include border-radius(6px 6px 0 0);
        overflow: hidden;
        margin-bottom: 2px;
    }
    .utils-tab-item {
        width: 224px;
        margin-left: 2px;
        a {
            @include font(#465a6b, 26px, 24px);
            padding: 20px 0;
        }
        span.counter {
            @include myreg;
            @include font(#3c3c3c, 16px, 18px);
            padding: 0 6px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
            min-width: 20px;
            top: 8px;
            right: 24px;
            text-align: center;
        }
        &:first-child, &:last-child {
            width: 186px;
        }
        &:first-child {
            margin-left: 0;
        }

    }

    .utils-pane {
        background: #fff;
        overflow: hidden;
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
    }

    .utils-inner-content {

    }

    .contacts-list-cnt {

    }

    .contacts-list-section {
        .section-header {
            @include font(#b5bac0, 32px, 40px);
            padding-bottom: 10px;
            border-bottom: 2px solid #dee2e7;
            margin-left: 40px;
            margin-right: 40px;
        }
    }

    .contact-card {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
        &.remove {
            border-bottom: 2px solid #dee2e7;
            border-top: 2px solid #dee2e7;
            @include transition(transform 0.3s cubic-bezier(0.165, 0.775, 0.430, 1.005), background-color 0.3s);
        }
        &.operating {
            @include transform(translateX(-100%));
        }
        .remove-item {
            top: 20px;
            right: 26px;
        }

        .actions-list {
            margin-top: 20px;
            margin-bottom: 20px;
        }

    }
    .contact-avatar-cnt {
        float: left;
        width: 96px;
        .img-cnt {
            height: 96px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            img {
                width: 96px;
            }
        }
    }

    .contact-inner {
        margin-left: 124px;
        .contact-name {
            margin-bottom: 16px;
            a {
                @include font($cBlue, 28px, 36px);
            }
        }
        .contact-note {
            @include font(#7b7b7b, 22px, 36px);
        }
        .add-note-link {
            margin-bottom: 16px;
        }
        a.add-contact-note {
            @include font(#b5bac0, 22px, 28px);
            border-bottom: 2px dotted #b5bac0;

        }
        .contact-note-form-cnt {
            display: none;
            textarea {
                padding: 20px;
                height: 180px;
                border:2px solid #b6bfc9;
                margin-bottom: 36px;
                @include font(#3a3a3a, 26px, 40px);
            }
        }
    }

    .chat-list {

    }
    .chat-item {
        &.remove {
            border-top: 2px solid #dee2e7;
            border-bottom: 2px solid #dee2e7;
            .chat-item-wrapper {
                border-top: 2px solid #f8f9fa;
            }
            +.remove {
                border-top: none;
            }
        }
        .remove-item {
            top: 20px;
            right: 28px;
        }

    }
    .chat-item-wrapper {
        border-top: 2px solid #dee2e7;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .chat-avatar-cnt {
        width: 96px;
        .img-cnt {
            height: 96px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
        img {
            height: 96px;
        }
    }

    .chat-item-inner {
        margin-left: 124px;
        .contact-name {
            margin-bottom: 16px;
            @include font($cBlue, 28px, 36px);
            a {
                @include font($cBlue, 28px, 36px);
            }
        }
        .last-message-time {
            @include font(#b5bac0, 22px, 20px);
            margin-bottom: 20px;
            margin-top: 10px;
        }
        .last-message-cnt {
            .avatar-cnt {
                width: 58px;
                .img-cnt {
                    height: 58px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    img {
                        width: 58px;
                    }
                }
            }
            .last-message {
                margin-left: 88px;
                @include font(#7b7b7b, 22px, 32px);
            }
        }
    }

    .chat {
        top: 30px;
    }

    .chat-messages-list {

    }
    .chat-message-item {
        padding-top: 20px;
        padding-bottom: 20px;
        &.remove {
            border-bottom: 2px solid #dee2e7;
            border-top: 2px solid #dee2e7;
        }
        .remove-item {
            top: 20px;
            right: 26px;
        }
    }
    .chat-message-wrapper {
        margin-left: 40px;
        margin-right: 40px;
        .avatar-cnt {
            width: 96px;
            .img-cnt {
                height: 96px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }
            img {
                width: 96px;
            }
        }
    }
    .chat-message {
        @include font(#7b7b7b, 22px, 36px);
        padding: 15px 15px 10px 15px;
        border-width: 2px 1px 2px 1px;
        border-style: solid;
        border-color: #f0f3f6;
        background: #f0f3f6;
        position: relative;
        margin-left: 128px;
        &:before {
            content:'';
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 0 16px 16px 0;
            border-color: transparent #f0f3f6 transparent transparent;
            position: absolute;
            left: -16px;
            top: 20px;
        }
        .my-message &{
            background: #fff;
            border-color: #b6bfc9;
            margin-right: 16px;
            margin-left: 112px;
            &:before {
                width: 17px;
                height: 16px;
                border:none;
                background: url('/img/spr_icons.png') -417px -350px no-repeat;
                right: -17px;
                top: 20px;
                left: inherit;
            }
        }
    }

    .chat-message-timestamp {
        margin-top: 20px;
    }
    .chat-message-form {
        margin-left: 40px;
        margin-right: 40px;
        padding-top: 40px;
        border-top: 2px solid #dee2e7;
        label {
            @include font(#7b7b7b, 16px, 20px);
            margin-bottom: 16px;
            &.file-label {
                display: none;
                margin-left: 30px;
                @include font($cBlue, 24px, 32px);
            }
        }
        .smiles-panel {
            width: 550px;
            left:inherit;

            right: -58px;
            margin-left: 0;
            top: inherit;
            bottom:40px;
            display: none;
            visibility: hidden;
            &:before {
                border-width: 10px 10px 0 10px;
                left: inherit;
                right:65px;
                margin-left: 0;
                top: inherit;
                bottom: -10px;
            }
            &.visible {
                @include opacity(1);
                visibility: visible;
                @include transform(translateY(0));
            }
        }
    }

    .chat-message-cnt {
        margin-bottom: 20px;
        position: relative;
    }

    .events-list-cnt {

    }
    .events-list {

    }
    .event-item {

        &.item-info {
            &:before {
                width: 28px;
                height: 28px;
                background: url('/img/spr_icons.png') -100px -400px no-repeat;
            }
        }
        &.item-rate {
            &:before {
                width: 40px;
                height: 40px;
                background: url('/img/spr_icons.png') -350px -400px no-repeat;
            }
        }
        &.remove {
            background: #f8f9fa;
            border-top:2px solid #dee2e7;
            border-bottom:2px solid #dee2e7;
            .remove-item {
                right: 26px;
                top: 32px;
            }
        }
        &.pinned {
            .make-pinned {
                background-position: -550px -350px;
            }
        }
        &:before {
            content:'';
            position: absolute;
            width: 50px;
            height: 32px;
            background: url('/img/spr_icons.png') -150px -400px no-repeat;
            left: 40px;
            top: 40px;
        }
    }

    .event-inner {
        margin-left: 40px;
        margin-right: 40px;
        border-top: 2px solid #dee2e7;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .event-params {
        margin-left: 90px;
        .row {
            margin-bottom: 12px;
            @include font(#7b7b7b, 22px, 36px);
            &.row-marked {
                padding-left: 20px;
                padding-top: 4px;
                padding-bottom: 4px;
                .param-value {
                    margin-left: 96px;
                }
                .param-name {
                    width: 96px;
                }
            }
        }

        .param-name {
            width: 116px;
        }
        .param-value {
            margin-left: 116px;
        }
    }
    .event-message {
        margin-left: 90px;
        padding:20px;
        @include font(#7b7b7b, 22px, 36px);
        position: relative;
        margin-bottom: 32px;
        &:before {
            content:'';
            position: absolute;
            width: 17px;
            height: 17px;
            background: url('/img/spr_icons.png') -417px -400px no-repeat;
            left: 14px;
            top: -17px;
        }
        &.collapsed {

        }
        .message {
            height: 90px;
        }
    }

    .event-actions {
        margin-left: 90px;

    }

    .event-rating-cnt {
        margin-left: 90px;
        margin-top: 20px;
        .header {
            @include font(#7b7b7b, 22px, 36px);
            margin-bottom: 10px;
        }
    }
    .event-service-rating {
        font-size: 32px;
        color: #434343;
        line-height: 40px;
        padding-left: 40px;
        &:before {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            background: url("/img/spr_icons.png") -200px -350px no-repeat;
            left: 4px;
            top: 8px;
        }
    }

    a.expander {
        width: 70px;
        height: 26px;
        background: url('/img/spr_icons.png') -100px -200px no-repeat;
        &:hover {
            background-position: -200px -200px;
        }
    }

    /********************************************************
    *                   SEARCH RESULTS PAGE
    ********************************************************/


    .search-results-cnt {
        width: 100%;
        float: left;
        @include transition(margin-left 0.3s cubic-bezier(0.165, 0.775, 0.430, 1.005));
        @include box-shadow (none);
        @include transform(translateZ(0));
        z-index: 0;
        height: 100%;
        &.offscreen {
            margin-left: -100%;
        }
    }


    .search-results-inner {
        height: 100%;
        overflow: hidden;
    }

    .search-results-trigger {
        display: none;
    }

    .search-tags-cnt {
        padding: 30px 20px 1px 20px;
        border-bottom: 2px solid #dee2e7;
    }
    .tags-group {
        margin-bottom: 30px;
        &.tags-request {

        }
    }
    .tags-group-header {
        @include font(#b5bac0, 20px, 1);
        margin-bottom: 16px;
    }

    .search-results {
        position: relative;
        &.scrollable {

        }
        &.left-scroll {

        }
    }

    .search-results-list {
        padding-top: 80px;
    }
    .search-result-item {
        display: block;
        border-top: 2px solid #dee2e7;
        padding: 40px 20px;
        .item-actions {
            width: 190px;
            float: left;
            .logo-cnt {
                height: 180px;
                margin-bottom: 12px;
            }
            .btn-small {
                width: 190px;
            }
        }
        .actions-block {
            margin-bottom: 20px;
        }

        .item-descr {
            padding-left: 30px;
        }
        .descr-header {
            margin-bottom: 24px;
            .item-name {
                a {
                    @include myreg;
                    @include font($cBlue, 32px, 40px);
                }
            }
            .item-rating {
                @include font(#434343, 32px, 40px);
                padding-left: 40px;
                &:before {
                    content:'';
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    background: url('/img/spr_icons.png') -200px -350px no-repeat;
                    left: 4px;
                    top: 8px;
                }
            }
        }

        .item-services-list {
            li {
                margin-top: 20px;
                span {
                    @include font(#434343, 24px, 32px);
                    &:first-child {
                        max-width: 240px;
                    }
                }
            }
        }
        .expander {
            padding-top: 20px;
        }
        .item-expand {

        }
    }

    .person-status {
        @include font(#434343, 22px, 1);
        &:before {
            width: 14px;
            height: 14px;
            margin-right: 20px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
        }
    }

    .map-cnt {
        display: none;
    }

    .mobile-map-cnt {
        height: 760px;
        overflow: hidden;
        display: none;
    }

    .search-view-switch-cnt {
        position: absolute;
        width: 100%;
        height: 48px;
        top: 30px;
        left: 0;
        text-align: center;
        a {
            display: inline-block;
            height: 48px;
            @include myreg;
            @include font(#b6bbc3, 22px, 48px);
            padding-left: 38px;
            padding-right: 68px;
            @include border-radius(0 24px 24px 0);
            background: #dde3e8;
            position: relative;
            text-decoration: none;
            &:before {
                content:'';
                position: absolute;
                width: 33px;
                height: 33px;
                background-image: url('/img/spr_icons.png');
                background-repeat: no-repeat;
                background-position: -350px -550px;
                right: 9px;
                top: 8px;
            }
            &:first-child {
                padding-left: 68px;
                padding-right: 38px;
                @include border-radius(24px 0 0 24px);
                &:before {
                    background-position: -250px -550px;
                    right:inherit;
                    left: 9px;
                }
            }
            &.active {
                background: #65abd0;
                color: #fff;
                &:before {
                    background-position: -400px -550px;
                }
                &:first-child {
                    &:before {
                        background-position: -300px -550px;
                    }
                }
            }
        }
    }

    .fancybox-default-skin {
        background: #fff;
        border-color: #fff;
    }

    .search-popup {
        width: auto;
        .row {
            @include pie-clearfix;
        }
        .logo-cnt {
            width: 220px;
            margin-bottom: 40px;
            .img-cnt {
                width: 214px;
                height: 214px;
            }
            img {
                max-width: 214px;
            }
        }
        .contact-card {
            margin-bottom: 20px;
            width: 350px;
            padding-right: 0;
        }
        .service-name-cnt {
            margin-left: 0;
            float: none;
            clear: left;
            width: 100%;
            margin-bottom: 20px;
        }
        .service-date-cnt {
            width: 350px;
            float: right;
            #service-date {
                height: 44px;
                padding-right: 30px;
                @include font(#3a3a3a, 26px, 26px);
                background: url('/img/icon_calendar_mobile.png') 90% 50% no-repeat;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
        }
        .service-price-cnt {
            margin-bottom: 20px;
            float: none;
            width: 100%;
        }

        label {
            @include font(#7b7b7b, 16px, 20px);
            margin-bottom: 16px;
            &.file-label {
                display: none;
            }
        }
        .service-comment-cnt {
            position: relative;
            margin-bottom: 40px;
        }

    }


    #service-comment, #chat-message {
        padding: 25px 20px 20px 20px;
        height: 185px;
        @include font(#5e5e5e, 24px, 40px);
    }

    .smile-trigger {
        width: 34px;
        height: 34px;
        background: url('/img/spr_icons.png') -250px -400px no-repeat;
        bottom: 20px;
        right: 20px;
    }

    .smiles-panel {
        position: absolute;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        width: 344px;
        left: 50%;
        margin-left: -172px;
        top: 24px;
        display: none;
        visibility: hidden;
        @include opacity(0);
        @include transition(all 0.3s);
        @include transform(translateY(-30px));
        &:before {
            content:'';
            position: absolute;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 0 5px 5px 5px;
            border-color: transparent transparent #ffffff transparent;
            left: 50%;
            margin-left: -5px;
            top: -5px;
        }
        &:hover {
            cursor: default;
        }
        &.block {
            display: block;
        }
        &.visible {
            @include opacity(1);
            visibility: visible;
            @include transform(translateY(0));
        }
    }
    .smiles-list {
        list-style: none;
        padding: 20px;
    }
    .smile-item {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        vertical-align: middle;
        &:hover {
            cursor: pointer;
        }
    }


    [class^="icon-"]:before, [class*=" icon-"]:before {
        width: 2em;
        margin-right: .4em;
        font-size: 2em;
    }

    /********************************************************
    *                   INNER PAGES
    ********************************************************/

    .page-inner-wrapper {
        width: 100%;
        padding: 0;
    }

    .inner-section {
        padding: 40px 20px;
        margin-bottom: 20px;
        &.add-section {
            height: 190px;
            background-image: inline_image('img_add_section_mobile.png');
        }
        .col12 {
            float: none;
            width: 100%;
            margin-left: 0;
        }
    }

    .profile-header {

    }

    .text-content {
        > img {
            float: none;
            width: 100%;
            margin-right: 0;
            margin-bottom: 40px;
        }
        .full-width-img {
            img {
                margin-bottom: 40px;
            }
        }
        %mobile-list-item {
            margin-left: 40px;
            @include font(#3a3a3a, 26px, 36px);
            margin-bottom: 12px;
        }
        ul {
            list-style: none;
            > li {
                @extend %mobile-list-item;
                &:before {
                    width: 8px;
                    height: 8px;
                    left: -40px;
                    top: 12px;
                }
                > ul {
                    padding-top: 24px;
                }
            }
        }
        ol {
            > li {
                @extend %mobile-list-item;
                &:before {
                    left: -40px;
                }
            }
        }

        cite {
            @include font(#7b7b7b, 26px, 40px);
            padding-left: 60px;
            background: inline_image('icon_quote_mobile.png') 0 0 no-repeat;
            margin-bottom: 40px;
            span {
                margin-top: 16px;
            }
            p + span {
                margin-top: 0;
            }
            &.under {
                font-size: 24px;
                line-height: 32px;
                margin-top: 30px;
                margin-bottom: 40px;
                padding-left: 0;
            }
        }

        blockquote {
            @include font(#7b7b7b, 26px, 40px);
            padding-left: 52px;
            border-left: 4px solid $cBlue;
            padding-bottom: 16px;
            padding-top: 10px;
            margin-bottom: 50px;
        }
        .table-cnt {
            overflow-x: scroll;
            -webkit-overflow-scrolling-x: touch;
            width: 600px;
        }
        table {
            table-layout: fixed;
            thead  {

            }
            tbody {

            }
            th {
                @include font(#363636, 22px, 1.2);
                padding: 40px 60px 32px 60px;
            }
            td {
                border-top: 2px solid #dee2e7;
                @include font(#363636, 22px, 1.2);
                padding: 40px 60px 32px 60px;
            }
        }
    }

    .accordeon-cnt {
        margin-bottom: 30px;
        .accordeon-item {
            a.accordeon-trigger {
                @include font(#3a3a3a, 30px, 1);
                padding-left: 30px;
                border-bottom: 2px solid #dee2e7;
                padding-bottom: 14px;
                &:before {
                    width: 12px;
                    height: 12px;
                    left: 4px;
                    top: 10px;
                    background-position: -250px -150px;
                }

            }
            .accordeon-content {
                margin-top: 24px;
                margin-bottom: 24px;
            }
            &.expanded {
                a.accordeon-trigger {
                    &:before {
                        background-position: -300px -150px;
                    }
                }
            }
            &.collapsed {
                margin-bottom: 40px;
                .accordeon-inner {
                    height: 0 !important;
                }
            }
        }
    }

    .tabs-cnt {
        margin-bottom: 30px;
        overflow-x: scroll;
        -webkit-overflow-scrolling-x: touch;
        .tabs-list {
            border-bottom: 2px solid #dee2e7;
            white-space: nowrap;
            li {
                margin-left: 60px;
                padding-bottom: 12px;
                &.active {
                    border-bottom: 6px solid #00b7f4;
                    margin-bottom: -6px;
                }
                a {
                    @include font(#afb7c1, 30px, 1);
                }
            }

        }
    }

    .files-list {
        a {
            display: block;
            @include font(#3a3a3a, 26px, 36px);
            margin-bottom: 30px;
            padding-left: 60px;
            &:before {
                width: 42px;
                height: 32px;
            }
            &[href$=".doc"] {
                &:before {
                    background-position: 0 -140px;
                }
            }
            &[href$=".docx"] {
                &:before {
                    background-position: 0 -140px;
                }
            }
            &[href$=".jpg"] {
                &:before {
                    background-position: 0 -180px;
                }
            }
            &[href$=".pdf"] {
                &:before {
                    background-position: 0 -300px;
                }
            }
            &[href$=".ppt"] {
                &:before {
                    background-position: 0 -260px;
                }
            }
            &[href$=".pptx"] {
                &:before {
                    background-position: 0 -260px;
                }
            }
            &[href$=".xls"] {
                &:before {
                    background-position: 0 -220px;
                }
            }
            &[href$=".xlsx"] {
                &:before {
                    background-position: 0 -220px;
                }
            }
            &[href$=".rar"] {
                &:before {
                    background-position: 0 -380px;
                }
            }
            &[href$=".zip"] {
                &:before {
                    background-position: 0 -340px;
                }
            }
            &[href$=".7z"] {
                &:before {
                    background-position: 0 -380px;
                }
            }
            &[href$=".txt"] {
                &:before {
                    background-position: 0 -380px;
                }
            }
        }
    }



    .profile-user-info-cnt {
        height: auto;
        background: none;
        border-bottom: 2px solid #e8ebf0;
        &:hover {
            .profile-user-actions {
                @include transform(none);
            }
        }
    }

    .add-profile-background {
        display: none;
    }

    .profile-user-info {
        width: 100%;
        height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 40px 20px 0 20px;
        text-align: left;
        background: #fff;
        .photo-cnt {
            width: 190px;
            height: 190px;
            border:8px solid #d1d6dd;
            margin-top: 0;
            margin-bottom: 20px;
            float: left;
            img {
                @include absolute_center;
                width: 100%;
            }
            &.nophoto {
                .add-photo-form {
                    &:after {
                        width: 48px;
                        height: 48px;
                        background: #d1d6dd url('/img/spr_icons.png') -434px -431px;
                    }
                }
            }
        }
        .username {
            margin-left: 220px;
            @include font(#434343, 40px, 45px);
            margin-bottom: 10px;
        }
        .user-address {
            margin-bottom: 20px;
            margin-left: 220px;
            text-align: left;
        }
        .control-cnt {
            margin-bottom: 20px;
            margin-left: 220px;
        }
        .actions-list {
            clear:both;
            width: 190px;
            margin-bottom: 20px;
        }
    }
    .profile-meta {
        @include font(#7b7b7b, 24px, 35px);
    }


    .profile-top-nav {
        list-style: none;
        overflow: inherit;
        white-space: nowrap;
        overflow-x: scroll;
        -webkit-overflow-scrolling-x: touch;
        font-size: 0;
        li {
            list-style: none;
            float: none;
            display: inline-block;
            margin-left: 64px;
            &:first-child {
                margin-left: 20px;
            }
            &:last-child {
                margin-right: 20px;
            }
        }
        a {
            @include font(#7b7b7b, 30px, 40px);
            padding-top: 25px;
            padding-bottom: 20px;
            border-bottom: 6px solid #fff;
            text-decoration: none;
            &.active {
                border-bottom: 3px solid $cBlue;
            }
        }
    }

    .section-header {
        @include font(#3a3a3a, 40px, 40px);
        padding-bottom: 20px;
        border-bottom: 2px solid #dee2e7;
        margin-bottom: 30px;
    }

    .profile-cont-types-list {
        list-style: none;
        overflow: hidden;
        font-size: 0;
    }

    .cont-type-item {
        list-style: none;
        display: block;
        padding-left: 100px;
        padding-top: 12px;
        @include font(#434343, 30px, 40px);
        position: relative;
        width: auto;
        margin-right: 0;
        margin-bottom: 40px;
        .editable & {
            margin-bottom: 30px;
        }
        &:before {
            width: 55px;
            height: 55px;
        }
        i {
            width: 26px;
            height: 26px;
            left: 36px;
            top: 28px;
            background-position: -300px -450px;
            &.cont-type-status {
                &:hover {
                    background-position: -350px -450px;
                }
            }
        }

        &.phone {
            &:before {
                background-position: 0 -240px;
            }
        }
        &.skype {
            &:before {
                background-position: 0 -300px;
            }
        }
        &.vkontakte {
            &:before {
                background-position: 0 -360px;
            }
        }
        &.mail {
            &:before {
                background-position: 0 -420px;
            }
        }
        &.facebook {
            &:before {
                background-position: 0 -480px;
            }
        }
        &.linkedin {
            &:before {
                background-position: 0 -540px;
            }
        }
        &.twitter {
            &:before {
                background-position: 0 -600px;
            }
        }
        &.www {
            &:before {
                background-position: 0 -750px;
            }
        }
        &.default {
            i {
                background-position: -350px -450px;
            }
        }
        .profile-plus {
            margin-left: 24px;
            float: right;
            @include font(#7b7b7b, 36px, 26px);
        }
        .cont-type-inner {
            margin-bottom: 15px;

            p {
                line-height: 30px;
            }
            &:last-child {
                .profile-plus {
                    display: inline-block;
                }
            }
        }
    }
    .profile-change-link {
        @include font(#b5bac0, 22px, 22px);
        border-bottom: 2px dotted #b5bac0;
    }

    .profile-address-cnt {
        width: 100%;
        float: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 40px 25px 40px 25px;
    }
    .profile-address {
        padding-left: 94px;
        position: relative;
        &:before {
            width: 55px;
            height: 55px;
            background: url('/img/spr_cont_types.png') 0 -660px no-repeat;
        }
        p {
            @include font(#434343, 26px, 40px);
        }
    }

    .profile-address-map {
        height: 480px;
        width: 100%;
        float: none;
    }

    .profile-service-logo-cnt {
        width: 190px;

        .img-cnt {
            width: 190px;
            height: 190px;
        }
        .profile-add-logo {
            &:after {
                width: 36px;
                height: 36px;
                background: #d1d6dd url('/img/spr_icons.png') -440px -438px;
            }
        }
    }

    .profile-service-inner {
        float:none;
        margin-left: 230px;
        margin-bottom: 30px;
        .header {
            @include font(#434343, 40px, 45px);
            margin-right: 0;
            margin-bottom: 12px;
            width: auto;
            float: none;
        }
        .tags-list {
            margin-top: 35px;
            margin-bottom: 30px;
        }
        .input-group {
            width: 100%;
        }
        .editable &{
            margin-left: 0;
            .profile-service-rating {
                float: right;
            }
            .input-group {
                input[type=text] {
                    height: 80px;
                }
                .input-group-btn {
                    .btn {
                        height: 80px;
                    }
                }
            }
            .service-category-input {
                width: auto;
            }
        }
    }

    .profile-cont-types-list {
        .editable & {
            .input-group {
                input[type=text] {
                    height: 80px;
                }
                .input-group-btn {
                    .btn {
                        height: 80px;
                    }
                }
            }
        }
    }

    .profile-service-rating {
        float: none;
        padding-left: 54px;
        background: inline_image('icon_lk_rating_mobile.png') 0 50% no-repeat;
        @include font(#434343, 50px, 50px);
        margin-bottom: 30px;
    }
    .profile-service-order-btn {

    }

    .profile-service-info {
        clear:both;
        padding-top:0;
        overflow: hidden;
        .col12 {
            float: none;
            width: 100%;
            margin-left: 0;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
                .profile-service-edit-cnt {
                    margin-bottom: 0;
                }
            }
        }
    }

    .small-header {
        @include font(#3a3a3a, 30px, 40px);
        padding-bottom: 20px;
        border-bottom: 2px solid #dee2e7;
        margin-bottom: 30px;
    }

    a.header-edit-link {
        float: right;
        @include font($cBlue, 26px, 44px);
        padding-left: 44px;
        &:before {
            width: 22px;
            height: 22px;
            background: url('/img/spr_icons.png') -400px -450px;
            top: 10px;
        }
    }

    ul.profile-services-list {
        li {
            margin-top: 30px;
            span {
                @include font(#434343, 26px, 35px);
                &:first-child {
                    max-width: 410px;
                }
            }
        }
    }

    .profile-service-edit-cnt {
        margin-bottom: 30px;
        overflow: hidden;
        textarea {
            height: auto;
        }
        fieldset {
            margin-bottom: 30px;
        }
    }
    .service-name-cnt {
        width: 100%;
        float: none;
    }
    .service-price-cnt {
        width: 100%;
        float: none;
    }

    .service-descr-cnt {
        textarea {
            height: 150px;
        }
    }

    .service-price-cnt + .service-submit-cnt {
        margin-top: 0;
        margin-left: 0;
    }

    .service-submit-cnt {
        clear:none;
        float: left;
        font-size: 0;
    }
    .add-more {
        @include font($cBlue, 26px, 40px);
        padding-left: 52px;
        text-decoration: none;
        background: inline_image('icon_add_service_mobile.png') 0 50% no-repeat;
    }

    .profile-service-descr {
        @include font(#7b7b7b, 26px, 40px);
    }

    .input-group {
        input[type=text] {
            @include font(#7b7b7b, 26px, inherit);
            padding: 16px 30px;
        }
        .input-group-btn {
            margin-left: -1px;
            .btn {
                font-size: 24px;
                padding-top: 22px;
                padding-bottom: 20px;
                &.btn-icon {
                    padding: 10px 30px;
                    &.icon-remove {
                        background-position: -179px -270px;
                    }
                    &.icon-cancel {
                        background-position: -277px -220px;
                    }
                }
            }
            + .input-group-btn {
                button.btn, input[type=submit] {
                    padding: 10px 20px;
                }
            }
        }
        &.with-helper {
            .helper {
                right: 120px;
                top: 20px;
                @include font(#3a3a3a, 26px, 26px);
            }
            input[type=text]:first-child {
                padding: 16px 160px 16px 30px;
            }
        }
    }

    .profile-service-preview {
        margin-top: 0;
        .preview-link {
            @include font($cBlue, 26px, 26px);
        }

        .preview-cnt {
            margin-top: 50px;
            display: inline-block;
            padding: 20px 15px;
            background: #e8ebf0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        .search-result-item {
            border:1px solid #dee2e7;
            background: #fff;
        }
    }

    .profile-subsection {
        clear:left;
        margin-bottom: 40px;

        .period-cnt {
            span {
                @include font(#b5bac0, 26px, 48px);
            }
            input.date-input {
                width: 226px;
                height: 48px;
                margin-left: 20px;
                margin-right: 20px;
                display: inline-block;
            }
        }
        textarea {
            height: 480px;
        }
    }

    .portfolio-gallery {
        &.catalog-gallery {
            border-bottom: 2px solid #dee2e7;
            .portfolio-item {
                margin-left: 10px;
                &:nth-child(2n-1) {
                    margin-left: 0;
                }
            }
        }
    }

    .portfolio-item {
        width: 295px;
        margin-left: 10px;
        margin-bottom: 10px;
        &:nth-child(4n-3) {
            margin-left: inherit;
        }
        &:nth-child(2n-1) {
            margin-left: 0;
        }
        .img-cnt {
            width: 295px;
            height: 295px;
            @include opacity(1);
            img {
                height: 300px;
            }
            &.empty-cnt {
                background: #b6bfc9 inline_image('img_add_section_mobile.png') 50% 50% no-repeat;
            }
        }
        &:hover {
            .portfolio-item-actions {
                @include transform(translateY(0));
                @include opacity(1);
                visibility: visible;
            }
        }
    }

    .portfolio-item-descr {
        margin-top: 25px;
        margin-bottom: 25px;
        p {
            @include font(#7b7b7b, 15px, 20px);
            &.header {
                margin-bottom: 20px;
                a {
                    @include font($cBlue, 22px, 28px);
                }
            }
        }
    }

    .portfolio-item-actions {
        padding: 20px 25px 10px 25px;
        @include transform(translateY(0));
        @include opacity(1);
        @include transition(none);
        visibility: visible;
        a {
            display: block;
            @include myreg;
            @include font(#fff, 20px, 30px);
            @include opacity(1);
            @include transition(none);
            margin-bottom: 20px;
            &:before {
                width: 30px;
                height: 30px;
                margin-right: 20px;
            }
        }
        .item-edit {
            &:before {
                background-position: -500px -550px;
            }
        }
        .item-remove {
            &:before {
                background-position: -550px -550px;
            }
        }
    }

    .profile-user-actions {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 60px;
        background: rgba(67, 67, 67, 0.9);
        @include transform(none);
        @include transition(none);
    }
    .profile-user-actions-inner {
        a {
            width: 30px;
            height: 30px;
            margin-top: 40px;
        }
        .edit {
            background-position: -500px -550px;
        }
        .remove {
            background-position: -550px -550px;
        }
    }


    .settings-section {
        .col12 {
            width: 100%;
            margin-left: 0;
            float: none;
        }
        .profile-subsection {
            border-bottom: 2px solid #dee2e7;
            &.personal-info {
                >fieldset {
                    margin-bottom: 0;
                }
                input[type=text] {
                    margin-bottom: 0;
                }
                span {
                    @include myreg;
                    @include font(#7b7b7b, 26px, 24px);
                    margin-right: 60px;
                }
                .col12 {
                    margin-bottom: 34px;
                }
            }
        }
        .input-group {
            margin-bottom: 30px;
        }
        .profile-change-link {
            margin-left: 0;
            float: right;
            margin-top: 12px;
        }
        .change-pass-link {
            @include font($cBlue, 26px, 1);
        }
        .submit-cnt {
            .meta {
                margin-left: 0;
                float: right;
                width: 50%;
                text-align: right;
            }
        }
        .birth-date {
            width: 240px!important;
        }
    }

    .profile-account-types {
        input[type=radio] + label {
            @include font(#b6bac1, 20px, 20px);
            padding: 12px 40px;
        }

        input[type=radio]:first-child {
            +label {
                -webkit-border-radius: 20px 0 0 20px;
                -moz-border-radius: 20px 0 0 20px;
                border-radius: 20px 0 0 20px;
            }
        }
        label {
            -webkit-border-radius: 0 20px 20px 0;
            -moz-border-radius: 0 20px 20px 0;
            border-radius: 0 20px 20px 0;
        }
    }

    /********************************************************
    *                       PAGE 404
    ********************************************************/

    .page404-inner {
        background: #fff;
        min-height: auto;
        position: relative;
    }

    .page404-img {
        margin-bottom: 35px;
        img {
            width: 80%;
        }
    }

    .page404-content {
        position: relative;
        text-align: center;
        width: auto;
        top: inherit;
        @include translateY(0);
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .page404-text {
        text-align: center;
        p{
            @include myreg;
            @include font(#7b7b7b, 26px, 46px);
            margin-bottom: 20px;
            &.header {
                @include font(#323131, 50px, 50px);
                margin-bottom: 30px;
                text-transform: uppercase;
                letter-spacing: 0.25px;
            }
        }
    }

    select.single-select, select.multiple-select {
        width: 100%;
        height: 44px;
        line-height: 44px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border:1px solid #b6bfc9;
        background: #fff;
    }


    /*------ FOOTER ------*/

    @include sticky-footer($mobileFooterHeight, "#root-wrapper", "#footer-struggle", "#footer");


    #footer {
        padding-top: 40px;
        position: relative;
        z-index: 0;
    }

    .footer-nav-cnt {
        float: none;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .footer-nav {
        list-style-type: none;
        text-align: justify;
        &:after {
            content:'';
            display: inline-block;
            font-size: 0;
            line-height: 0;
            width: 100%;
        }
    }

    .footer-nav-item {
        display:inline-block;
        margin-left: 0;
        a {
            @include myreg;
            @include font(#ffffff, 20px, 20px);
        }
    }

    .footer-lang-panel {
        overflow: hidden;
        text-align: center;
        position: absolute;
        top: 92px;
        left: 0;
        right: 0;
        p {
            @include font(#7b7b7b, 20px, 32px);
        }
    }

    .footer-socials {
        padding-right: 0;
        float: none;
        margin-top: 90px;
    }
    .footer-socials-list {
        list-style-type: none;
        overflow: hidden;
        display: block;
        vertical-align: middle;
        text-align: center;
        direction: rtl;
        li {
            display: inline-block;
            float: none;
            margin-left: 20px;
            &:first-child {
                margin-left: 0;
            }
        }
        .social {
            display: block;
            width: 40px;
            height: 30px;
            background-image:url('/img/spr_icons.png');
            background-repeat: no-repeat;
            &.gp {
                background-position: -145px -500px;
            }
            &.tw {
                background-position: -100px -500px;
            }
            &.fb {
                background-position: -53px -500px;
            }
            &.vk {
                background-position: 0 -500px;
            }
        }
    }

    .copyrights {
        display: block;
        @include font(#7b7b7b, 24px, 24px);
        text-align: center;
        margin-right: 0;
        margin-bottom: 36px;
    }
    /*---------------------*/

    .overlay {
        position: absolute;
        top: 110px;
        bottom: -$mobileFooterHeight;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.75);
        z-index: 1;
        @include opacity(0);
        visibility: hidden;
        &.visible {
            @include opacity(1);
            visibility: visible;
        }
    }

    .mobile-hide {
        display: none !important;
    }


}