.utils-inner-content {
    .mCSB_container {
        margin-right: 0;
    }

    .mCSB_scrollTools {
        width: 10px;
    }

    .mCSB_scrollTools .mCSB_draggerRail {
        display: none;
        width: 1px;
        background: #dfdfdf;
        @include border-radius(0);
    }

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background: #bfbfc0;
        width: 7px;
        @include border-radius(2px);
    }
}

.search-results {
    .mCSB_container {
        margin-right: 0;
    }

    .mCSB_scrollTools {
        width: 10px;
        right: auto;
        left: 0;
    }

    .mCSB_scrollTools .mCSB_draggerRail {
        display: none;
        width: 1px;
        background: #dfdfdf;
        @include border-radius(0);
    }

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background: #bfbfc0;
        width: 7px;
        @include border-radius(2px);
    }

}
