.js-panes-control {
    list-style: none;

    .js-tab-item {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        &:first-child {
            margin-left: 0;
        }

    }
    .js-pane-trigger {
        display: block;
        position: relative;
    }
}

@include keyframes(tabs) {
    0% {
        @include transform(translateX(100%));
    }
    100% {
        @include transform(translateX(0));
    }
}

.js-panes {
    position: relative;
    overflow: hidden;
    .js-pane {
        position: absolute;
        left:0;
        top:0;
        overflow: hidden;
        z-index: 0;
        @include transform(translateX(0));
//        @include opacity(0);
//        visibility: hidden;
//        @include transform(translateX(100%));
//        @include transition(transform 0.3s);
        &.active {
            z-index: 1;
            @include animation(tabs 0.3s ease);
//            @include transform(translateX(0));
//            @include opacity(1);
//            visibility: visible;
        }
    }
}


.js-common-panes {
    position: relative;
    .js-pane {
        position: relative;
        left:0;
        top:0;
        overflow: hidden;
        display: none;
        &.active {
            display: block;
        }
    }
}



@media (max-width: 640px) {
    .js-panes, .js-common-panes {
        overflow: inherit;
    }
}


