.tooltipster-knackit {
    @include border-radius(2px);
    border: 1px solid #b9bbc7;
    background: #fff;
    @include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.15));
}
.tooltipster-knackit .tooltipster-content {
    @include arialreg;
    @include font(#7b7b7b, 12px, 18px);
    padding: 18px 22px;
    p {
        margin-bottom: 0;
        @include font(#7b7b7b, 12px, 18px);
    }
}

.tooltipster-knackit .tooltipster-arrow-top span {
    bottom: -8px;
}
.tooltipster-knackit .tooltipster-arrow-top .tooltipster-arrow-border {
    bottom: -8px;
}

