    ul.errors-list {
        //position: absolute;
        //z-index: 1;
        //top:65px;
        position: relative;
        margin-top: 15px;
        left: 0;
        right: 0;
        background: #e5453d;
        list-style: none;
        padding:15px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        /*
         *        &.filled {
         *            &:before {
         *                content:'';
         *                position: absolute;
         *                top:-6px;
         *                right: 20px;
         *                width: 0px;
         *                height: 0px;
         *                border-style: solid;
         *                border-width: 0 6px 6px 6px;
         *                border-color: transparent transparent #e5453d transparent;            }
         *        }
         */
        > li {
            display: block;
            color:#fff;
            @include myreg;
            @include font(#fff, 13px, 18px);
            margin-bottom: 0;
            &:before {
                display: none;
            }
        }
    }

    @media (max-width: 640px) {
        ul.errors-list {
            top:130px;
            background: #e5453d;
            list-style: none;
            padding:15px;
            &.filled {
                &:before {
                    top:-11px;
                    right: 40px;
                    border-style: solid;
                    border-width: 0 12px 12px 12px;
                    border-color: transparent transparent #e5453d transparent;
                }
            }
            > li {
                @include font(#fff, 26px, 36px);
            }
        }
    }
