/* ----------------- SIZES ---------------- */
$baseWidth: 1200px;
$headerHeight: 35px;
$footerHeight: 62px;
$mobileFooterHeight: 284px;
$sidebarWidth: 280px;
$sidebarGutter: 40px;
$contentWidth: $baseWidth - $sidebarGutter - $baseWidth;

/* ---------------- COLORS ---------------- */

$cBlack: #353636;
$cWhite: #fff;
$cLinkRed: #de0f22;
$cLinkVisited: #de717b;
$cGrey: #6d6d6d;
$cRed: #db290b;
$cLightRed: #fceaea;
$cYellow: #f8d017;
$cDarkYellow: #ffba34;
$cOrange: #ef9e00;
$cBlue: #00b7f4;
$pesticide-debug: false;
