@import "reset";
@import "compass/css3";
@import "compass/layout/sticky-footer";
@import "compass/utilities/general/clearfix";
@import "fonts";
@import "variables";
@import "defaults";
@import "mixins";
@import "forms";
@import "chosen";
@import "scrolls";

/* ==========================================================================
                MAIN STYLES
   ========================================================================== */

@include sticky-footer($footerHeight, "#root-wrapper", "#footer-struggle", "#footer");

#root-wrapper #footer-struggle {
    background: #e8ebf0;
}

html {
    min-width: 1024px;
    min-height: 100%;
    &.noscroll {
        overflow: hidden;
        body {
            overflow: hidden;
        }
    }
}


body {
    height: 100%;
}


h1 {
    @include myreg;
    @include font(#3a3a3a, 30px, 36px);
    margin-bottom: 30px;
    position: relative;
    &:after {
        content:'';
        position: absolute;
        width: 45px;
        height: 3px;
        background: $cBlue;
        bottom: -15px;
        left: 0;
    }
}

h2 {
    @include myreg;
    @include font(#383737, 20px, 30px);
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #dee2e7;
}

h3 {
    @include myreg;
    @include font(#3a3a3a, 15px, 24px);
    margin-bottom: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e7;
}

h4 {
    @include mysb;
    @include font(#383737, 13px, 18px);
    margin-bottom: 12px;
    margin-top: 10px;
}

p {
    @include myreg;
    @include font(#383737, 13px, 18px);
    margin-bottom: 10px;
    &.lead {
        @include font(#7b7b7b, 18px, 24px);
        margin-bottom: 20px;
    }
    a {
        color: $cBlue;
        text-decoration: none;
        &:visited {
            color: #909aa6;
        }
        &:hover {
            border-bottom: none;
            text-decoration: underline;
        }
        &[href=""] {
            color: #b5bac0;
            border-bottom: 1px dotted #b5bac0;
            &:hover {
                border-bottom: none;
            }
        }
    }

}
sup {
    font-size: 50%;
    vertical-align: super;
    position: absolute;
    margin-top: -4px;
}



/*************************************************************
*                   GLOBAL HEADER
**************************************************************/
.global-header {
    height: 70px;
    border-bottom: 2px solid $cBlue;
    position: relative;
    .logo {
        width: 177px;
        float: left;
        height: 70px;
        background: url('/img/logo.png') 25px 50% no-repeat;
    }
    .index-page & {
        border-bottom: none;

        .logo {
            background: url('/img/logo_index.png') 25px 50% no-repeat;
            margin-top: 16px;
        }
    }
    &.fixed {
        position: fixed;
        width: 100%;
        background: #fff;
        z-index: 1;
        @include box-shadow(0 1px 7px 0 rgba(0,0,0,0.4));
        + .overlay + .page-inner-cnt {
            padding-top: 72px;
        }
    }
}

.index-page {
    #site-wrapper {
        position: relative;
    }

    .full-sized-site-inner {
        position: relative;
        h1 {
            @include myreg;
            @include font(#fff, 65px, 60px);
            letter-spacing: 0.2px;
            margin-bottom: 35px;
            padding-bottom: 0;
            &:after {
                display: none;
            }
        }
        p {
            @include myreg;
            @include font(#fff, 16px, 24px);
            margin-bottom: 12px;
        }
    }
    .welcome-block {
        text-align: center;
        position: absolute;
        width: 100%;
        top: 50%;
        @include transform(translateY(-50%));
    }
    a.register-btn {
        font-size: 16px;
        padding: 14px 40px;
        margin-top: 25px;
    }
}


.index-slider-cnt {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    .index-slider {
        list-style: none;
        height: 100%;
    }
    .index-slide {
        list-style: none;
        display: block;
        height: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
}
.index-slider-pagination {
    position: absolute;
    right: 32px;
    top: 50%;
    @include transform(translateY(-50%));
    z-index: 2;
    a.bx-pager-link {
        display: block;
        width: 10px;
        height: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border:2px solid #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        &.active {
            background: #fff;
        }
    }
    .bx-pager-item {
        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }
    }
}

.header-actions {
    float: right;
    .login-btn {
        display: inline-block;
        padding-left: 26px;
        margin-right: 30px;
        position: relative;
        @include myreg;
        @include font(#3a3a3a, 15px, 1);
        letter-spacing: 0.2px;
        text-decoration: none;
        margin-top: 18px;
        @include transition(opacity 0.2s);
        padding-top: 10px;
        padding-bottom: 10px;
        &:before {
            content:'';
            position: absolute;
            width: 16px;
            height: 17px;
            background: url('/img/spr_icons.png') -200px -50px no-repeat;
            left: 0;
            top: 7px;
        }
        &:hover {
            @include opacity(0.8);
        }

    }

    .index-page & {
        text-align: right;
        .login-btn {
            color: #fff;
            margin-top: 45px;
            padding-top: 0;
            padding-bottom: 0;
            &:before {
                top: 0;
            }
        }
    }
}

%bar {
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff;
    left: 50%;
    margin-left: -10px;
}

.sidebar-trigger {
    float: right;
    display: block;
    width: 70px;
    height: 70px;
    background: $cBlue;
    position: relative;
    i {
        @extend %bar;
        top: 50%;
        margin-top: -1px;
        @include transition(all 0.3s);
    }
    span {
        position: absolute;
        @include myreg;
        @include font(#fff, 11px, 14px);
        padding: 2px 5px 0 5px;
        min-width: 16px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background: #3a3a3a;
        text-align: center;
        bottom: 20px;
        right: 13px;
        z-index: 1;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    &:before {
        content:'';
        @extend %bar;
        top: 28px;
        @include transition(all 0.3s);
    }
    &:after {
        content:'';
        @extend %bar;
        bottom: 28px;
        @include transition(all 0.3s);
    }
    .expanded-sidebar & {
        i {
            @include opacity(0);
        }
        &:before {
            width: 21px;
            @include transform(rotate(45deg) translate3d(4px,5px,0));
        }
        &:after {
            width: 21px;
            @include transform(rotate(-45deg) translate3d(4px,-5px,0));
        }
    }
}

.top-profile {
    width: 250px;
    float: right;
    height: 70px;
    line-height: 70px;
    border-left: 1px solid #e9eef3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    &:hover {
        cursor: pointer;
        background: #e9eef3;
        .top-profile-dropdown {
            @include opacity(1);
            visibility: visible;
            @include transform(translateY(0));
        }
    }
}

.top-profile-avatar-cnt {
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    vertical-align: middle;
    overflow: hidden;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    text-align: center;
    margin-left: 30px;
    margin-right: 15px;
    img {
        display: inline-block;
        vertical-align: middle;
        width: 44px;
    }
}

.top-profile-info {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
}

.top-profile-name {
    @include myreg;
    @include font(#3a3a3a, 15px, 20px);
}

.top-profile-meta {
    @include myreg;
    @include font(#b5bac0, 13px, 20px);
}

.top-profile-dropdown {
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(198, 203, 209, 0.75);
    @include opacity(0);
    visibility: hidden;
    @include transform(translateY(40px));
    @include transition(all 0.3s);
    &:hover {
        cursor: default;
    }
}

.top-profile-menu {
    list-style: none;
    padding: 20px 30px 5px 30px;
    li {
        display: block;
        margin-bottom: 14px;
        a {
            display: block;
            @include myreg;
            @include font(#3a3a3a, 13px, 13px);
            text-decoration: none;
            @include transition(color 0.2s);
            &:hover {
                color: #b6bfc9;
            }
        }
    }
}

.top-profile-bar-link {
    display: block;
    border-top: 1px solid #dee2e7;
    @include myreg;
    @include font(#3a3a3a, 13px, 22px);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 33px;
    text-decoration: none;
    @include transition(color 0.2s);
    &:hover {
        color: #b6bfc9;
        text-decoration: none;
        cursor: pointer;
        i.icon-settings {
            background-position: -100px -50px;
        }
        i.icon-logout {
            background-position: -150px -50px;
        }
    }
    i.icon {
        margin-right: 15px;
    }
}

.twitter-typeahead { 
	width: 100%; 
} 

i.icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background-image: url('/img/spr_icons.png');
    background-repeat: no-repeat;
    &.icon-settings {
        background-position: 0 -50px;
        &:hover {
            background-position: -100px -50px;
        }
    }

    &.icon-logout {
        background-position: -50px -50px;
        &:hover {
            background-position: -150px -50px;
        }
    }
}

.header-search-cnt {
    float: right;
    margin-right: 22px;
    border:2px solid #b6bfc9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0;
    text-align: right;
    margin-top: 16px;
    @include transition(border-color 0.3s, background-color 0.3s);
    .index-page & {
        border:none;
        background: #fff;
        top: 32px;
        position: absolute;
        float: none;
        left: -9999px;
        right: -9999px;
        margin: auto;
        width: 555px;
        input[type=submit] {
            width: 54px;
            height: 44px;
            background-position: 20px 15px;
            background-color: #000;
            -webkit-border-radius: 0 5px 5px 0;
            -moz-border-radius: 0 5px 5px 0;
            border-radius: 0 5px 5px 0;

        }
        &.focused {
            border:none;
            input[type=submit] {
                background-color: #000;
            }
        }
    }

    input[type=text].header-search {
        display: inline-block;
        border:none;
        padding-left: 18px;
        @include myreg;
        @include font(#3a3a3a, 13px, inherit);
        width: 270px;
        margin: 0;
        padding-top: 9px; /*IE fix*/
        .index-page & {
            width: 300px;
        }
        &:focus {
            outline: none;
        }
        &::-webkit-input-placeholder {
            color: #b5bac0;
        }
        &:-moz-placeholder {
            color: #b5bac0;
        }
        &:-ms-input-placeholder {
            color: #b5bac0;
        }
    }
    input[type=submit] {
        display: inline-block;
        width: 52px;
        height: 34px;
        border:none;
        position: relative;
        background: #b6bfc9 url('/img/spr_icons.png') no-repeat 20px 10px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        &:hover {
            cursor: pointer;
        }
        &.mobile-show {
            display: none;
        }
    }

    &.focused {
        border:2px solid $cBlue;
        input[type=submit] {
            background-color: $cBlue;
        }
    }

    .city-select-cnt {
        display: inline-block;
        width: 178px;
        //padding-left: 40px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-left: 1px solid #c6cbd1;
        position: relative;
        i {
            width: 14px;
            height: 14px;
            position: absolute;
            left: 14px;
            top: 50%;
            margin-top: -7px;
            background: url('/img/spr_icons.png') -150px 0 no-repeat;
            z-index: 1;
            &:hover {
                cursor: pointer;
            }
        }
        input[type=text] {
            border:none;
            padding-left: 40px;
            height: 34px;
        }
    }
}

#auth-popup, #change-pass-popup, #change-phone-popup, #register-popup, #forgot-pass-popup {
    width: 330px;
    .form-header {
        @include myreg;
        @include font(#383737, 25px, 30px);
        text-align: center;
        margin-bottom: 15px;
    }
    .auth-form-cnt, .register-form-cnt, .forgot-pass-form-cnt,  .change-pass-form-cnt, {
        fieldset {
            margin-bottom: 15px;
            display: block;
            position: relative;
            &:last-child {
                margin-top: 20px;
                text-align: center;
                margin-bottom: 5px;
            }
        }
        input[type=text], input[type=password] {
            width: 100%;
            height: 36px;
            border:1px solid #b6bfc9;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            @include transition(border-color 0.2s);
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding-left: 16px;
            padding-right: 16px;
            font-size: 13px;
            &:focus {
                outline: none;
                border-color: $cBlue;
            }
            +a.pass-eye {
                background-position: 0 -350px;
            }
        }
        input[type=password] {
            padding-right: 36px;
            +a.pass-eye {
                background-position: -50px -350px;
            }
        }
        .error input[type=text], .error input[type=password] {
            border-color: #e5453d;
        }

        .non-field-errors {
            margin-bottom: 15px;
        }
    }
    .social-auth-cnt, .social-register-cnt {
        width: 288px;
        margin-left: auto;
        margin-right: auto;
        .separator {
            text-align: center;
            margin-bottom: 25px;
            position: relative;
            &:before {
                content:'';
                width: 100%;
                height: 1px;
                background: #dee2e7;
                position: absolute;
                top: 50%;
                left: 0;
            }
            span {
                display: inline-block;
                background: #fff;
                @include myreg;
                @include font(#666666, 14px, 20px);
                padding: 2px 10px;
                position: relative;
            }
        }
    }


    .btn-social {
        padding-left: 50px;
        position: relative;
        margin-left: 4px;
        margin-right: 4px;
        margin-bottom: 8px;
        width: 136px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        &:before {
            content:'';
            position: absolute;
            width: 16px;
            height: 16px;
            top: 10px;
            left: 26px;
            background-image: url('/img/spr_icons.png');
            background-repeat: no-repeat;
        }
        &.fb {
            &:before {
                background-position: -50px -250px;
            }
            background: #45629f;
        }
        &.vk {
            &:before {
                background-position: 0 -250px;
            }
            background: #5783bf;
        }
        &.tw {
            &:before {
                background-position: -100px -249px;
            }
            background: $cBlue;
        }
        &.gp {
            &:before {
                background-position: -150px -250px;
            }
            background: #b84336;
        }
        +.btn {
            margin-left: 4px;
        }
    }
    .pass-eye {
        position: absolute;
        width: 20px;
        height: 11px;
        background-image: url('/img/spr_icons.png');
        background-repeat: no-repeat;
        right: 13px;
        top: 14px;
    }
    .change-submit-cnt {
        margin-bottom: 0;
    }

    .forgot-pass-link {
        @include myreg;
        @include font(#7b7b7b, 12px, inherit);
        display: inline-block;
        margin-left: 15px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    
    .auth-register-link {
        background: #b6bfc9;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 30px;
        a {
            @include myreg;
            @include font(#fff, 14px, 1);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .auth-form-cnt {
        margin-left: 30px;
        margin-right: 30px;
    }
}

#auth-popup {
    width: 390px;
}


/*-------------------- UTILS SIDEBAR -------------------*/

.utils-sidebar {
    width: 300px;
    position: absolute;
    right: 0;
    top: 72px;
    background: $cBlue;
    padding: 10px;
    z-index: 1;
    visibility: hidden;
    @include opacity(0);
    @include transform(translateX(-20%));
    @include transition(all 0.3s);
    .expanded-sidebar & {
        visibility: visible;
        @include opacity(1);
        @include transform(translateX(0));
    }
}
.utils-inner-cnt {
    height: 100%;
    background: white;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.utils-tabs {
    font-size: 0;
    @include border-radius(4px 4px 0 0);
    overflow: hidden;
    margin-bottom: 1px;
}
.utils-tab-item {
    display: inline-block;
    width: 110px;
    margin-left: 1px;
    a {
        display: block;
        @include myreg;
        @include font(#465a6b, 13px, 12px);
        padding: 12px 0;
        text-align: center;
        background: #b6bfc9;
        @include transition(background-color 0.2s, color 0.2s);
        text-decoration: none;
        &:hover {
            background: lighten(#b6bfc9, 10%);
        }
        &.active {
            background: #fff;
            color: #3a3a3a;
        }
    }
    span.counter {
        @include myreg;
        @include font(#3c3c3c, 8px, 12px);
        padding: 0 4px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        min-width: 12px;
        background: #fff;
        position: absolute;
        top: 4px;
        right: 12px;
        text-align: center;
    }
    &:first-child, &:last-child {
        width: 94px;
    }
    &:first-child {
        margin-left: 0;
    }

}

.utils-pane {
    background: #fff;
    height: 100%;
    overflow: hidden;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
}

@import "elements/utils_top_actions";

.utils-inner-content {

}

.contacts-list-cnt {

}

.contacts-list-section {
    .section-header {
        @include myb;
        @include font(#b5bac0, 16px, 20px);
        padding-bottom: 5px;
        border-bottom: 1px solid #dee2e7;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.contact-card {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    overflow: hidden;
    &.remove {
        border-bottom: 1px solid #dee2e7;
        border-top: 1px solid #dee2e7;
        background: #f8f9fa;
        @include transition(transform 0.3s cubic-bezier(0.165, 0.775, 0.430, 1.005), background-color 0.3s);
        +.remove {
            border-top: none;
        }
    }
    &.operating {
        @include transform(translateX(-100%));
    }
    .remove-item {
        top: 10px;
        right: 13px;
    }

    .actions-list {
        margin-top: 10px;
        margin-bottom: 10px;
    }

}
.contact-avatar-cnt {
    float: left;
    width: 50px;
    .img-cnt {
        height: 50px;
        position: relative;
        overflow: hidden;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        @include transform(translate3d(0,0,0));
        img {
            @include absolute_center;
            width: 50px;
        }
    }
}

.contact-inner {
    margin-left: 65px;
    .contact-name {
        margin-bottom: 8px;
        a {
            @include myreg;
            @include font($cBlue, 14px, 18px);
            text-decoration: none;
        }
        strong {
            @include mysb;
            font-weight: normal;
        }
    }
    .contact-note {
        @include myreg;
        @include font(#7b7b7b, 11px, 18px);
    }
    .add-note-link {
        margin-bottom: 8px;
    }
    a.add-contact-note {
        @include myreg;
        @include font(#b5bac0, 11px, 14px);
        border-bottom: 1px dotted #b5bac0;
        text-decoration: none;
        @include transition(color 0.2s);
        &:hover {
            color: darken(#b5bac0, 20%);
        }

    }
    .contact-note-form-cnt {
        display: none;
        textarea {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            padding: 14px;
            height: 90px;
            border:1px solid #b6bfc9;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            margin-bottom: 18px;
            @include myreg;
            @include font(#3a3a3a, 13px, 20px);
            &::-webkit-input-placeholder {
                color: #7b7b7b;
            }
            &:-moz-placeholder {
                color: #7b7b7b;
            }
            &:-ms-input-placeholder {
                color: #7b7b7b;
            }
        }
    }
}

.chat-list {

}
.chat-item {
    background: #fff;
    position: relative;
    @include transition(background-color, 0.2s);
    &:hover {
        background: #f8f9fa;
        .chat-item-wrapper {
            border-top: 1px solid #f8f9fa;
        }
    }
    &.remove {
        background: #f8f9fa;
        border-top: 1px solid #dee2e7;
        border-bottom: 1px solid #dee2e7;
        .chat-item-wrapper {
            border-top: 1px solid #f8f9fa;
        }
        +.remove {
            border-top: none;
        }
    }
    .remove-item {
        top: 10px;
        right: 14px;
    }

}
.chat-item-wrapper {
    border-top: 1px solid #dee2e7;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.chat-avatar-cnt {
    width: 50px;
    float: left;
    .img-cnt {
        position: relative;
        height: 50px;
        overflow: hidden;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
    }
    img {
        height: 50px;
        @include absolute_center;
    }
    &.x2 {
        img {
            &:nth-child(1) {
                right: 50%;
                left: inherit;
            }
            &:nth-child(2) {
                left: 50%;
                right: inherit;
            }
        }
    }
    &.x4 {
        img {
            width: 50%;
            height: auto;
            &:nth-child(1) {
                right: 50%;
                bottom: 50%;
                left:inherit;
                top:inherit;
            }
            &:nth-child(2) {
                left: 50%;
                bottom: 50%;
                right: inherit;
                top: inherit;
            }
            &:nth-child(3) {
                top: 50%;
                right: 50%;
                left: inherit;
                bottom: inherit;
            }
            &:nth-child(4) {
                left: 50%;
                top: 50%;
                right: inherit;
                bottom: inherit;
            }
        }
    }
}

.chat-item-inner {
    margin-left: 65px;
    .contact-name {
        margin-bottom: 8px;
        @include myreg;
        @include font($cBlue, 14px, 18px);
        a {
            @include myreg;
            @include font($cBlue, 14px, 18px);
            text-decoration: none;
        }
        strong {
            @include mysb;
            font-weight: normal;
        }
    }
    .last-message-time {
        @include myreg;
        @include font(#b5bac0, 11px, 20px);
        margin-bottom: 10px;
        margin-top: 5px;
    }
    .last-message-cnt {
        &.no-avatar {
            .last-message {
                margin-left: 0;
            }
        }
        .avatar-cnt {
            width: 30px;
            float: left;
            .img-cnt {
                position: relative;
                height: 30px;
                overflow: hidden;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                border-radius: 15px;
                img {
                    @include absolute_center;
                    width: 30px;
                }
            }
        }
        .last-message {
            margin-left: 44px;
            @include myreg;
            @include font(#7b7b7b, 11px, 16px);
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.chat {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 15px;
    right: -100%;
    background: #fff;
    @include transition(right 0.3s cubic-bezier(0.165, 0.775, 0.430, 1.005));
    &.active {
        right: 0;
    }
}

.chat-messages-list {

}
.chat-message-item {
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    &.remove {
        border-bottom: 1px solid #dee2e7;
        border-top: 1px solid #dee2e7;
        background: #f8f9fa;
        @include transition(transform 0.3s cubic-bezier(0.165, 0.775, 0.430, 1.005));
    }
    &.operating {
        @include transform(translateX(-100%));
    }
    .remove-item {
        top: 10px;
        right: 13px;
    }
}
.chat-message-wrapper {
    margin-left: 20px;
    margin-right: 20px;
    .avatar-cnt {
        width: 50px;
        float: left;
        .img-cnt {
            position: relative;
            height: 50px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
            overflow: hidden;
            .my-message & {
                display: none;
            }
        }
        img {
            @include absolute_center;
            width: 50px;
        }
    }
}
.chat-message {
    @include myreg;
    @include font(#7b7b7b, 11px, 18px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 1px 0px 10px;
    border: 1px solid #f0f3f6;
    background: #f0f3f6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative;
    margin-left: 5px;
    margin-right: 20px;
    &:before {
        content:'';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 8px 8px 0;
        border-color: transparent #f0f3f6 transparent transparent;
        position: absolute;
        left: -8px;
        top: 10px;
    }
    .my-message &{
        background: #fff;
        border-color: #b6bfc9;
        margin-left: 20px;
        margin-right: 5px;
        &:before {
            width: 9px;
            height: 9px;
            border:none;
            background: url('/img/spr_icons.png') -400px 0 no-repeat;
            right: -9px;
            top: 10px;
            left: inherit;
        }
    }
}

.chat-message-timestamp {
    color: #424242;
    padding-top: 1px;
    margin-top: -5px;
    margin-bottom: 0px;
    margin-right: 5px;
    text-align: right;
    font-size: 85%;
}

.chat-message-form {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    border-top: 1px solid #dee2e7;
    label {
        @include myreg;
        @include font(#7b7b7b, 8px, 10px);
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 8px;
        display: block;
        &.file-label {
            display: inline-block;
            margin-left: 15px;
            @include font($cBlue, 12px, 16px);
            text-transform: none;
            letter-spacing: normal;
            &:hover {
                text-decoration: underline;
            }
        }
        &:hover {
            cursor: pointer;
        }
    }
    .smiles-panel {
        width: 300px;
        left:inherit;
        right: -30px;
        margin-left: 0;
        top: inherit;
        bottom:20px;
        display: none;
        visibility: hidden;
        @include opacity(0);
        @include transition(all 0.3s);
        @include transform(translateY(30px));
        &:before {
            content:'';
            position: absolute;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            border-color: #ffffff transparent transparent transparent;
            left: inherit;
            right:33px;
            margin-left: 0;
            top: inherit;
            bottom: -5px;
        }
        &:hover {
            cursor: default;
        }
        &.block {
            display: block;
        }
        &.visible {
            @include opacity(1);
            visibility: visible;
            @include transform(translateY(0));
        }
    }
}

.chat-message-cnt {
    margin-bottom: 10px;
    position: relative;
}

.chat-submit-cnt {

}

.events-list-cnt {

}
.events-list {

}
.event-item {
    @include transition(background-color 0.2s);
    position: relative;

    &.item-info {
        &:before {
            width: 14px;
            height: 14px;
            background: url('/img/spr_icons.png') -100px -150px no-repeat;
        }
    }
    &.item-rate {
        &:before {
            width: 20px;
            height: 20px;
            background: url('/img/spr_icons.png') -350px -150px no-repeat;
        }
    }
    &.remove {
        background: #f8f9fa;
        border-top:1px solid #dee2e7;
        border-bottom:1px solid #dee2e7;
        .event-inner {
            border-top:none;
        }
        +.remove {
            border-top: none;
        }
        +.event-item {
            .event-inner {
                border-top: none;
            }
        }
        .remove-item {
            right: 13px;
            top: 16px;
        }
        .make-pinned {
            display: none;
        }
    }
    &.pinned {
        .make-pinned {
            background-position: -550px 0;
        }
    }
    &:before {
        content:'';
        position: absolute;
        width: 25px;
        height: 16px;
        background: url('/img/spr_icons.png') -150px -150px no-repeat;
        left: 20px;
        top: 20px;
    }
}

.event-inner {
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid #dee2e7;
    padding-top: 15px;
    padding-bottom: 15px;
}

.event-params {
    margin-left: 45px;
    .row {
        margin-bottom: 6px;
        @include myreg;
        @include font(#7b7b7b, 11px, 18px);
        overflow: hidden;
        &.row-marked {
            background: #f8f9fa;
            padding-left: 10px;
            padding-top: 2px;
            padding-bottom: 2px;
            .param-value {
                margin-left: 58px;
            }
            .param-name {
                width: 58px;
            }
        }
    }

    .param-name {
        color: #7b7b7b;
        width: 68px;
        float: left;
        +.param-value {
            margin-left: 68px;
        }
    }
    .param-value {
        color: #3a3a3a;
        &.param-date {
            color: #b5bac0;
        }
        a {
            color: $cBlue;
            text-decoration: none;
        }
    }
}
.event-message {
    margin-left: 45px;
    border:1px solid #b6bfc9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding:10px;
    @include myreg;
    @include font(#7b7b7b, 11px, 18px);
    position: relative;
    margin-bottom: 16px;
    &:before {
        content:'';
        position: absolute;
        width: 9px;
        height: 9px;
        background: url('/img/spr_icons.png') -400px -50px no-repeat;
        left: 7px;
        top: -9px;
    }
    &.collapsed {

    }
    .message {
//        height: 40px;
        @include transition(height 0.2s);
    }
}

.event-actions {
    margin-left: 45px;
    a {
        @include transition(opacity 0.2s);
    }
    &.accepted {
        a {
            @include opacity(0);
        }
    }
}
.event-rating {
    display: inline-block;
    margin-right: 15px;
}

.event-rating-cnt {
    margin-left: 45px;
    margin-top: 10px;
    .header {
        @include myreg;
        @include font(#7b7b7b, 11px, 18px);
    }
}

.event-service-rating {
    font-size: 16px;
    color: #434343;
    line-height: 20px;
    padding-left: 20px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        background: url("/img/spr_icons.png") -200px 0 no-repeat;
        left: 0;
        top: 4px;
    }
}


a.expander {
    display: block;
    width: 50px;
    height: 25px;
    background: url('/img/spr_icons.png') 0 -190px no-repeat;
    &:hover {
        background-position: 0 -215px;
    }
}


/********************************************************
*                   SEARCH RESULTS PAGE
********************************************************/

@import "elements/actions_list";

.search-results-cnt {
    width: 360px;
    background: #fff;
    position: relative;
    float: left;
    margin-left: 0;
    @include transition(margin-left 0.3s cubic-bezier(0.165, 0.775, 0.430, 1.005));
    @include box-shadow (0px 0px 5px 0px rgba(198, 203, 209, 0.75));
    @include transform(translateZ(0));
    z-index: 1;
    height: 100%;
    &.offscreen {
        margin-left: -360px;
    }

}

.search-results-inner {
    height: 100%;
    overflow: hidden;
}

.search-results-trigger {
    display: block;
    position: absolute;
    width: 39px;
    height: 41px;
    right: -39px;
    top: 39px;
    background: #b6bfc9;
    @include transition(background-color 0.3s);
    @include border-radius(0 4px 4px 0);
    z-index: 1;
    &:before {
        content:'';
        width: 8px;
        height: 14px;
        background: url('/img/spr_icons.png') -50px -150px no-repeat;
        position: absolute;
        left: 14px;
        top: 13px;
        @include opacity(1);
        visibility: visible;
        @include transition(all 0.2s);
    }
    &:after {
        content:'';
        width: 15px;
        height: 17px;
        background: url('/img/spr_icons.png') 0 -150px no-repeat;
        position: absolute;
        left: 12px;
        top: 12px;
        @include opacity(0);
        visibility: hidden;
        @include transition(all 0.2s);
    }
    &:hover {
        background: darken(#b6bfc9, 20%);
    }
    .offscreen & {
        &:before {
            @include opacity(0);
            visibility: hidden;
        }
        &:after {
            @include opacity(1);
            visibility: visible;
        }
    }
}

.search-tags-cnt {
    padding: 20px 20px 1px 20px;
    border-bottom: 1px solid #dee2e7;
}
.tags-group {
    margin-bottom: 15px;
    &.tags-request {

    }
}
.tags-group-header {
    @include myreg;
    @include font(#b5bac0, 10px, 1);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

@import "elements/tags_list";

.search-results {
    &.scrollable {

    }
    &.left-scroll {

    }
}

.search-results-list {
    list-style: none;
}
.search-result-item {
    display: block;
    border-top: 1px solid #dee2e7;
    padding: 20px;
    @include transition(background-color 0.2s, height 0.3s);
    overflow: hidden;
    list-style: none;
    position: relative;
    &:hover {
        background: #f8f9fa;
        .expander {
            background: #f8f9fa;
        }
    }
    &:first-child {
        border-top: none;
    }
    .item-actions {
        width: 95px;
        float: left;
        .logo-cnt {
            height: 89px;
            overflow: hidden;
            position: relative;
            margin-bottom: 8px;
            img {
                @include absolute_center;
                min-width: 100%;
                min-height: 100%;
            }
        }
        .btn-small {
            width: 95px;
        }
    }
    .actions-block {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: #dee2e7;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 3px solid #dee2e7;
        margin-bottom: 10px;
    }

    .item-descr {
        overflow: hidden;
        padding-left: 15px;
    }
    .descr-header {
        margin-bottom: 12px;
        .item-name {
            overflow: hidden;
            a {
                @include myreg;
                @include font($cBlue, 16px, 20px);
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .item-rating {
            float: right;
            @include myreg;
            @include font(#434343, 16px, 20px);
            padding-left: 20px;
            margin-left: 10px;
            position: relative;
            &:before {
                content:'';
                position: absolute;
                width: 12px;
                height: 12px;
                background: url('/img/spr_icons.png') -200px 0 no-repeat;
                left: 0;
                top: 4px;
            }
        }
    }

    .item-services-list {
        list-style: none;
        li {
            list-style: none;
            text-align: justify;
            font-size: 1px;
            &:after {
                content:'';
                width: 100%;
                display: inline-block;
            }
            margin-top: 10px;
            span {
                display: inline-block;
                vertical-align: bottom;
                @include myb;
                @include font(#434343, 12px, 16px);
                &:first-child {
                    text-align: left;
                    @include myreg;
                    color: #7b7b7b;
                    max-width: 120px;
                }
            }
        }
    }
    .expander {
        text-align: center;
        height: 33px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        @include transition(background-color 0.2s);
        i {
            display: inline-block;
            width: 50px;
            height: 25px;
            background: url('/img/spr_icons.png') 0 -190px no-repeat;
            &:hover {
                background-position: 0 -215px;
                cursor: pointer;
            }
        }
    }
    .item-expand {

    }
}

.person-status {
    @include myreg;
    @include font(#434343, 11px, 1);
    &:before {
        content:'';
        display: inline-block;
        width: 7px;
        height: 7px;
        line-height: 1;
        background: #bfd399;
        margin-right: 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    &.person-offline {
        color: #b5bac0;
        &:before {
            background: #dee2e7;
        }
    }
    &.no-status {
        &:before {
            display: none;
        }
    }
}


.map-wrapper {
    position: relative;
}

.map-wrapper, .map-cnt {
    overflow: hidden;
    height: 100%;
    background: #dee2e7;
}

.map-connect-button {
    position: absolute;
    padding: 14px 25px;
    bottom: 30px;
    left: 50px;
}

.map-connect {
    position: absolute;
    padding: 10px 20px;
    bottom: 30px;
    left: 50px;
    background: #fff;
    border:1px solid #b6bfc9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 1;
}

.balloon-inner {
    width: 300px;
    padding:15px 20px;
    background: #fff;
    @include pie-clearfix;
    .balloon {
        &-left {
            float: left;
            width: 200px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border-right: 1px solid #ededed;
            padding-right: 10px;
        }
        &-right {
            float: left;
            padding-left: 10px;
            width: 100px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border-left:1px solid #ededed;
            margin-left: -1px;
        }
        &-service-name {
            color: $cBlue;
            line-height: 14px;
        }
        &-rating {
            padding-left: 17px;
            position: relative;
            @include myreg;
            @include font(#434343, 10px, 1);
            &:before {
                width: 10px;
                height: 10px;
                content:'';
                position: absolute;
                left: 0;
                top: 0;
                background: inline_image('icon_lk_rating.png') 50% 50% no-repeat;
                background-size: contain;
            }
        }
    }
    .actions-list {
        margin-top: 10px;
    }
    .person-status {
        padding-left: 17px;
        position: relative;
        margin-bottom: 5px;
        color: #434343;
        &:before {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

.fancybox-default-skin {
    background: #fff;
    border-color: #fff;
}

.search-popup {
    width: 430px;
    .row {
        @include pie-clearfix;
    }
    .logo-cnt {
        width: 120px;
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border:3px solid #dee2e7;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 20px;
        .img-cnt {
            overflow: hidden;
            width: 114px;
            height: 114px;
            position: relative;
        }
        img {
            @include absolute_center;
            max-width: 114px;
        }
    }
    .contact-card {
        margin-left: 0;
        overflow: inherit;
        padding-left: 0;
        padding-top: 0;
        margin-bottom: 10px;
        width: 270px;
        float: right;
    }
    .service-name-cnt {
        margin-left: 0;
        float: right;
        width: 290px;
        margin-bottom: 25px;
    }
    .service-date-cnt {
        width: 120px;
        float: left;
//        #service-date {
//            height: 32px;
//            border:none;
//            padding-right: 15px;
//            padding-left: 0;
//            -webkit-box-sizing: border-box;
//            -moz-box-sizing: border-box;
//            box-sizing: border-box;
//            width: 100%;
//            @include myreg;
//            @include font(#3a3a3a, 13px, 13px);
//            background: url('/img/icon_calendar.png') 100% 50% no-repeat;
//            &:focus {
//                outline: none;
//            }
//        }
    }
    .service-price-cnt {
        margin-bottom: 20px;
        float: right;
        width: 290px;
    }

    label {
        @include myreg;
        @include font(#7b7b7b, 8px, 10px);
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 8px;
        display: block;
        &.file-label {
            display: inline-block;
            margin-left: 25px;
            @include font($cBlue, 12px, 16px);
            text-transform: none;
            letter-spacing: normal;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .service-comment-cnt {
        position: relative;
        margin-bottom: 20px;
    }

}

#service-comment, #chat-message {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:1px solid #b6bfc9;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 10px 25px 10px 15px;
    height: 92px;
    @include myreg;
    @include font(#5e5e5e, 13px, 20px);
    overflow: auto;
    &::-webkit-input-placeholder {
        color: #7b7b7b;
    }
    &:-moz-placeholder {
        color: #7b7b7b;
    }
    &:-ms-input-placeholder {
        color: #7b7b7b;
    }
    &:focus {
        outline: none;
    }
}
.smile-trigger {
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    background: url('/img/spr_icons.png') -200px -150px no-repeat;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}
.smiles-panel {
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 344px;
    left: 50%;
    margin-left: -172px;
    top: 24px;
    display: none;
    visibility: hidden;
    @include opacity(0);
    @include transition(all 0.3s);
    @include transform(translateY(-30px));
    &:before {
        content:'';
        position: absolute;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent #ffffff transparent;
        left: 50%;
        margin-left: -5px;
        top: -5px;
    }
    &:hover {
        cursor: default;
    }
    &.block {
        display: block;
    }
    &.visible {
        @include opacity(1);
        visibility: visible;
        @include transform(translateY(0));
    }
}
.smiles-list {
    list-style: none;
    padding: 20px;
}
.smile-item {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    vertical-align: middle;
    &:hover {
        cursor: pointer;
    }
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontelico";
    font-style: normal;
    font-weight: normal;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
}

.icon-emo-happy:before { content: '\e800'; }
.icon-emo-wink:before { content: '\e801'; }
.icon-emo-wink2:before { content: '\e813'; }
.icon-emo-unhappy:before { content: '\e802'; }
.icon-emo-sleep:before { content: '\e803'; }
.icon-emo-thumbsup:before { content: '\e804'; }
.icon-emo-devil:before { content: '\e805'; }
.icon-emo-surprised:before { content: '\e806'; }
.icon-emo-tongue:before { content: '\e807'; }
.icon-emo-coffee:before { content: '\e808'; }
.icon-emo-sunglasses:before { content: '\e809'; }
.icon-emo-displeased:before { content: '\e80a'; }
.icon-emo-beer:before { content: '\e80b'; }
.icon-emo-grin:before { content: '\e80c'; }
.icon-emo-angry:before { content: '\e80d'; }
.icon-emo-saint:before { content: '\e80e'; }
.icon-emo-cry:before { content: '\e80f'; }
.icon-emo-shoot:before { content: '\e810'; }
.icon-emo-squint:before { content: '\e811'; }
.icon-emo-laugh:before { content: '\e812'; }

#service-file, #chat-file {
    position: fixed;
    top: -1000px;
}

/********************************************************
*                   INNER PAGES
********************************************************/
.page-inner-cnt {
    background: #e8ebf0;
}

.page-inner-wrapper {
    width: 940px;
    padding: 20px;
    margin: 0 auto;
}

.inner-section {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px 30px;
    background: #fff;
    margin-bottom: 5px;
    @include pie-clearfix;
    &.no-padding {
        padding: 0;
    }
    &.add-section {
        height: 135px;
        background: #b6bfc9 inline_image('img_add_section.png') 50% 50% no-repeat;
        @include transition(background-color 0.2s);
        &:hover {
            cursor:pointer;
            background-color: lighten(#b6bfc9, 5%);
        }
    }
}

.text-content {
    > img {
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .full-width-img {
        img {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    %list-item {
        margin-left: 20px;
        position: relative;
        @include myreg;
        @include font(#3a3a3a, 13px, 18px);
        margin-bottom: 6px;
    }
    ul {
        list-style: none;

        > li {
            @extend %list-item;
            &:before {
                content: '';
                width: 4px;
                height: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                background: $cBlue;
                position: absolute;
                left: -20px;
                top: 6px;
            }
            > ul {
                padding-top: 12px;
            }
        }
    }
    ol {
        list-style: none;
        counter-reset: cnt;
        > li {
            position: relative;
            counter-increment: cnt;
            @extend %list-item;
            &:before {
                content: counter(cnt) '.';
                position: absolute;
                @include arialreg;
                color: $cBlue;
                left: -20px;
            }
        }
    }

    cite {
        @include myreg;
        @include font(#7b7b7b, 13px, 20px);
        padding-left: 30px;
        font-style: normal;
        display: block;
        background: inline_image('icon_quote.png') 0 0 no-repeat;
        margin-bottom: 20px;
        span {
            display: block;
            color: #3a3a3a;
            margin-top: 8px;
        }
        p + span {
            margin-top: 0;
        }
        &.under {
            margin-left: 0;
            font-size: 12px;
            margin-top: 15px;
            margin-bottom: 20px;
            background: none;
        }
    }

    blockquote {
        @include arialreg;
        @include font(#7b7b7b, 13px, 20px);
        padding-left: 26px;
        border-left: 2px solid $cBlue;
        padding-bottom: 8px;
        padding-top: 5px;
        margin-bottom: 25px;
    }
    table {
        table-layout: fixed;
        thead  {

        }
        tbody {

        }
        th {
            @include myreg;
            @include font(#363636, 11px, 1);
            letter-spacing: 1px;
            text-transform: uppercase;
            padding: 20px 30px 16px 30px;
            background: #e8ebf0;
            font-weight: normal;
        }
        td {
            border-top: 1px solid #dee2e7;
            @include myreg;
            @include font(#363636, 11px, 1);
            padding: 20px 30px 16px 30px;
        }
    }
}

.info-trigger {
    display: inline-block;
    width: 9px;
    height: 13px;
    background: url('/img/spr_icons.png') -350px -50px no-repeat;
    margin-left: 2px;
    &:hover {
        cursor: pointer;
    }
}

.accordeon-cnt {
    margin-bottom: 15px;
    .accordeon-item {
        @include transition(margin-bottom 0.2s);
        a.accordeon-trigger {
            @include myreg;
            @include font(#3a3a3a, 15px, 1);
            display: block;
            text-decoration: none;
            padding-left: 15px;
            position: relative;
            border-bottom: 1px solid #dee2e7;
            padding-bottom: 7px;
            &:before {
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                left: 2px;
                top: 3px;
                background-image: url('/img/spr_icons.png');
                background-repeat: no-repeat;
                background-position: -250px -50px;
            }

        }
        .accordeon-inner {
            overflow: hidden;
            @include transition(height 0.3s);
        }
        .accordeon-content {
            position: relative;
            margin-top: 12px;
            margin-bottom: 12px;
        }
        &.expanded {
            a.accordeon-trigger {
                &:before {
                    background-position: -300px -50px;
                }
            }
        }
        &.collapsed {
            margin-bottom: 20px;
            .accordeon-inner {
                height: 0 !important;
            }
        }
    }
}

.tabs-cnt {
    margin-bottom: 15px;
    .tabs-list {
        border-bottom: 1px solid #dee2e7;
        li {
            padding-left: 0;
            margin-left: 30px;
            margin-bottom: 0;
            padding-bottom: 6px;
            &:first-child {
                margin-left: 0;
            }
            &:before {
                display: none;
            }
            &.active {
                border-bottom: 3px solid #00b7f4;
                margin-bottom: -3px;
            }
            a {
                @include myreg;
                @include font(#afb7c1, 15px, 1);
                text-decoration: none;
                &:hover {
                    color: #3a3a3a;
                }
                &.active {
                    color: #3a3a3a;
                    &:hover {
                        cursor: default;
                        color: #3a3a3a;
                    }
                }
            }
        }

    }
}

.files-list {
    a {
        @include myreg;
        @include font(#3a3a3a, 13px, 18px);
        display: inline-block;
        margin-bottom: 15px;
        padding-left: 30px;
        position: relative;
        text-decoration: none;
        span {
            display: block;
            color: #7b7b7b;
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 21px;
            height: 16px;
            background-image: url('/img/spr_filetypes.png');
            background-repeat: no-repeat;
        }
        &[href$=".doc"] {
            &:before {
                background-position: 0 0;
            }
        }
        &[href$=".docx"] {
            &:before {
                background-position: 0 0;
            }
        }
        &[href$=".jpg"] {
            &:before {
                background-position: 0 -20px;
            }
        }
        &[href$=".pdf"] {
            &:before {
                background-position: 0 -80px;
            }
        }
        &[href$=".ppt"] {
            &:before {
                background-position: 0 -60px;
            }
        }
        &[href$=".pptx"] {
            &:before {
                background-position: 0 -60px;
            }
        }
        &[href$=".xls"] {
            &:before {
                background-position: 0 -40px;
            }
        }
        &[href$=".xlsx"] {
            &:before {
                background-position: 0 -40px;
            }
        }
        &[href$=".rar"] {
            &:before {
                background-position: 0 -120px;
            }
        }
        &[href$=".zip"] {
            &:before {
                background-position: 0 -100px;
            }
        }
        &[href$=".7z"] {
            &:before {
                background-position: 0 -120px;
            }
        }
        &[href$=".txt"] {
            &:before {
                background-position: 0 -120px;
            }
        }
    }
}


@import "lk";


/********************************************************
*                       PAGE 404
********************************************************/

.page404-inner {
    background: #fff;
    min-height: 530px;
    position: relative;
    overflow: hidden;
}


.page404-img {
    text-align: center;
    padding-bottom: 70px;
}


.page404-content {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    @include translateY(-50%);

}

.page404-text {
    text-align: center;
    p{
        @include myreg;
        @include font(#7b7b7b, 14px, 24px);
        margin-bottom: 10px;
        &.header {
            @include myreg;
            @include font(#323131, 30px, 30px);
            margin-bottom: 30px;
        }
        a {
            text-decoration: none;
            color: $cBlue;
        }
    }
}

/*------ FOOTER ------*/


#footer {
    background: #3a3a3a;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 24px;
}

.footer-nav-cnt {
    float: left;
    padding-left: 22px;
}

.footer-nav {
    list-style-type: none;
}

.footer-nav-item {
    display:inline-block;
    margin-left: 30px;
    a {
        @include myreg;
        @include font(#ffffff, 10px, 10px);
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
        @include transition(color 0.2s);
        &:hover {
            color: darken(#fff, 20%);
        }
    }
}

.footer-lang-panel {
    overflow: hidden;
    text-align: center;
    p {
        @include myreg;
        @include font(#7b7b7b, 10px, 16px);
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    a {
        color: #fff;
        &[href] {
            color: #7b7b7b;
            text-decoration: none;
            @include transition(color 0.2s);
            &:hover {
                color: lighten(#7b7b7b, 20%);
            }
        }
    }
}

.footer-socials {
    padding-right: 22px;
    float: right;
}
.footer-socials-list {
    list-style-type: none;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    li {
        float: right;
        margin-left: 15px;
    }
    .social {
        display: block;
        width: 20px;
        height: 14px;
        background-image:url('/img/spr_icons.png');
        background-repeat: no-repeat;
        &.gp {
            background-position: -150px -300px;
        }
        &.tw {
            background-position: -100px -300px;
        }
        &.fb {
            background-position: -43px -300px;
        }
        &.vk {
            background-position: 0 -300px;
        }
    }
}

.copyrights {
    display: inline-block;
    @include arialreg;
    @include font(#7b7b7b, 12px, 12px);
    text-align: right;
    margin-right: 10px;
}
/*---------------------*/

.fancybox-lock {
    overflow: visible !important;
}

.fancybox-inner {
    overflow: visible !important;
}

* {
    &.mobile-show {
        display: none;
    }
}

@import "tooltips";
@import "main640";
@import "tabs";
@import "validation";
@import "datepicker";
@import "helpers";

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

//@media only screen and (min-width: 35em) {
//    /* Style adjustments for viewports that meet the condition */
//}
//
//(-o-min-device-pixel-ratio: 5/4),
//(-webkit-min-device-pixel-ratio: 1.25),
//(min-resolution: 120dpi) {
//    /* Style adjustments for high resolution devices */
//}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


// Typeahead styles

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    max-height: 216px;
    overflow-y: auto;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: rgb(66, 139, 202);
    /* background-color: #0097cf; */
}

.tt-suggestion p {
    margin: 0;
}